---
subtitle: Systemutvecklare
order: 5
layout: default.hbs
left-text:
  type: text
  mdtext: lefttext
right-text:
  type: text
  mdtext: righttext
  background: light
image: 
  type: image
  height: 450px;
  start: true
  title: Systemutvecklare
  content: "Systemutvecklare"
  image:
    src: http://iteam.se/content/images/section-topbilder/jobb-annons/rekrytering2.JPG
---

<div class="row career">
  {{> image image}}
  <div class="grid-full">
    {{> text left-text}}
    {{> text right-text}}
  </div>
</div>