//------------------------------------------------------------
// Banner
//
//------------------------------------------------------------

.banner.partial {
  background: $color--radical-red;
  color: $color--white;
  padding: 60px 0;

  p {
    font-size: 2vmax;
    line-height: 2.5vmax;
    margin: 0;
    padding: 0;

    &:first-of-type { margin-bottom: 20px; }

    a {
      font-size: 2vmax;
      line-height: 2.5vmax;
    }
  }
}
