.blogs {
  @mixin text-colors($color) {
    &, & a {
      color: $color;
    }
    a {
      border-bottom-color: $color;
    }
  }
  @mixin element($background, $color) {
    background: $background;
    &.transparent {
      background: rgba($background, .5);
    }
    @include text-colors($color);

    .blog__read-more {
      border-bottom-color: $color;
    }
  }

  &.partial {
    padding: 0 0 $margin;
    @include devices(mobile-landscape, mobile) {
      padding: 0 !important;
      width: 100%;
    }
  }
  .grid-full {
    &, .row {
      padding: 0;
    }
    @include devices(mobile-landscape, mobile) {
      flex-wrap: wrap;
      flex-basis: 100%;
      padding: 0 !important;
      .row {
        max-width: 100%;
        padding: 0;
      }
    }

  }
  &, & * {
    box-sizing: border-box;
  }
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1 1;
    padding: 0;
    margin: 0;
    @include devices(mobile-landscape, mobile) {
      flex: 0 1 100%;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      padding: 0 !important;
    }

    li {
      width: 33.3333333%;
      width: calc(100/3);
      padding: 30px;
      @include devices(mobile-landscape, mobile) {
        width: 100%;
        padding: 20px !important;
      }
      a {
        border-bottom: none;
      }
      &:nth-child(n+3) {
        margin-top: 0;
      }
      &:nth-child(6n+1) {
        @include element($color--blue, $color--white);
      }
      &:nth-child(6n+2) {
        @include element($color--orange, $color--white);
      }
      &:nth-child(6n+3) {
        @include element($color--pink, $color--white);
      }
      &:nth-child(6n+4) {
        @include element($color--green, $color--black);
      }
      &:nth-child(6n+5) {
        @include element($color--black, $color--white);
      }
      &:nth-child(6n+6) {
        @include element($color--blue, $color--white);
      }
      &.contains-background {
        position: relative;
        z-index: 10;
        p, h3 {
          z-index: 10;
          position: relative;
        }
        @include text-colors($color--white);

        .background-element {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          filter: brightness(0.5);
          background: transparent;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

.blog__title {
  font-size: 24px;
  line-height: 1.5;
  position: relative;
  z-index: 10;
}

.blog__intro {
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.blog__read-more {
  border-bottom: 0.2em solid #fff;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

.blog__arrow {
  width: 50px;
  margin-top: 20px;
}

.blog-posts-full {
  color: $color--black;
  margin: 40px 0;

  a { color: $color--black; }

  li {
    border-bottom: #EBF2F6 1px solid;
    padding-bottom: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.blog__meta {
  color: #ccc;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1;

  .blog__creator {
    border-right: 1px solid #ccc;
    margin-right: 20px;
    padding-right: 20px;
  }
}
