.row.calendar {
  background-size: cover;
  padding: $margin 0;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;

    @include mobile {
      padding: 20px;
    }
  }

  li {
    @extend %inline-block--top;
    box-sizing: border-box;

    background: #fff;
    font-size: 1.5rem;
    margin-right: 2%;
    padding: $margin / 3;
    text-align: left;
    width: 32%;

    @include mobile {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &:nth-child(3n) { margin-right: 0; }
    &:nth-child(n+4) { margin-top: 2%; }

    .date {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 5px;
    }

    h3.title {
      font-size: 1.75rem;
      margin-bottom: 10px;
      padding: 0;
      text-transform: initial;
      width: 100%;
    }
  }
}
