/**
 * Case navigation
 * -----------------------------
 * Navigate to next and previous case in order and also to top level.
 * Preferably placed at the bottom of a case.
 *
 */

$icon-margin: 10px;

// Block
.case-navigation {
  background: rgb(19,24,25);
  color: #fff;
  padding: $margin 0;

  a {
    color: #fff;
  }
  i {
    margin-right: 10px;
  }
}

// Element - Content blocks
.case-navigation__block {
  width: 33%;

  @include mobile {
    width: 100%;
  }
}

// Element - Content block -- Modified for center block
.case-navigation__block--center {
  text-align: center;

  i {
    margin-right: $icon-margin;
  }
}

// Element - Content block -- Modified for last block
.case-navigation__block--next {
  text-align: right;

  i { margin-left: $icon-margin; }

  @include mobile {
    text-align: center;
  }
}
