/**
 * Partial contact
 * -----------------------------
 * Contact form
 *
 * Common input styles are placed in components/inputs
 */

.row.contact .grid-full {
  justify-content: center;
}

// Block
.contact {
  padding: $margin 0;

  // Mobile adjustments
  @include mobile() {
    padding: $margin 20px;
  }
}

// Element - Contact form
.contact__form {
  text-align: right;

  h3,
  p {
    text-align: center;
  }

  p {
    margin: 0 auto $margin / 2;
    width: 80%;
  }

  i { vertical-align: middle; }

  @include mobile() {
    p { width: 100%; }
  }
}

// Element - Input fields
.contact__field {
  margin-top: 10px;
}

// Element - Input field -- Modified for a full width element
.contact__field--full {
  width: 100%;
}

// Element - input field -- Modified for name
.contact__field--name { margin-right: 1.35%; }
