/**
 * Partial contributions
 * -----------------------------
 * Our contribution fields (meetup, conference etc.)
 * 
 */

$contribution-spacing: $margin / 5;
$contribution-width: 100%;

.contributions {
  text-align: center;
}

.contribution__type {
  @include box-sizing;
  @include inline-block(top);

  padding: 0 $contribution-spacing * 3;
  width: $contribution-width / 2;

  @include mobile {
    padding: 20px;
    width: 100%;
  }

  &:nth-child(n+3) { padding-top: $contribution-spacing * 3; }

  @include mobile() {
    width: $contribution-width;

    &:nth-child(n+3) { padding-top: 0; }
    &:not(:last-child) { margin-bottom: $margin / 2; }
  }

  a {
    display: inline-block;
    border-bottom: 3px solid $color--accent;
    line-height: 0;
    margin-bottom: $contribution-spacing;
    padding-bottom: $contribution-spacing;
  }

  img { max-height: 150px; } 
}