.coworker-element {

  border: none !important;

  // Element - Main element
  &,
  &__wrapper {
    position: relative;
    display: flex;
    padding: 0;
    max-width: 100%;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    margin: 0;
  }

  min-width: 150px;

  &,
  & * {
    box-sizing: border-box;
    display: block;
  }

  &__wrapper {
    color: $color--black;
    /* margin: 0 0 0 20px; */
    margin: 0;
  }

  &__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, .4);
  }

  // Element - Image of coworker (grabbed from Gravatar)
  &__image {
    filter: grayscale(1);
    width: 100%;
    height: auto;
  }

  &__text {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: inline;
  }

  &__coworker {
    &-name,
    &-job {
      display: inline-block;
    }

    &-name,
    &-job,
    &-email,
    &-phone {
      color: $color--white;
      margin: 0;
      padding: 5px;
      z-index: 1;
      position: relative;
    }
  }
}
