.row.image-list {
  margin:$margin 0;

  .row.flex { align-items: center; }

  .list {
    @include box-sizing();
    
    font-size: 1.5rem;
    padding-left: $margin;
    width: 25%;

    &.first {
      padding-left: 0;
      padding-right: $margin;
      text-align: right;
    }
  }

  img { width: 50%; }
}