/**
 * Partial image
 * -----------------------------
 * Displays a full width image and has optional value for parallax
 * effect and an animated arrow pointing down
 *
 */

$start: 0;
$end: 10px;

@include keyframes(hint) {
  0% { top: $start; }
  12.5% { top: $end; }
  25% { top: $start; }
  100% { top: $start; }
}

// Block
.image {
  position: relative;

  &.fadeIn { z-index: 0; }

  img {
    vertical-align: bottom;
    width: 100%;
  }

  &.row {
    background: $color--black;
  }

  &.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__overlay {
    @include position(top, left, 0, 0, absolute, true);

    opacity: $overlay-opacity;

    &.blue { background: $color--blue; }
    &.orange { background: $color--orange; }
    &.red { background: $color--pink; }
    &.pink { background: $color--pink; }
    &.green { background: $color--green; }
  }

  // Element - Optional title text
  &__title {
    // @include center(y, left, 200px);

    max-width: 70%;
    /* padding: 0 20px; */

    &-main {
      line-height: 100%;
    }

    small {
      display: block;
    }

    @include mobile {
      padding: 0;
      margin: 0 40px 0 0;
      word-break: keep-all;
      max-width: 100%;
    }
  }

  &__subtitle {
    font-size: $h4;
  }

  &__down-arrow {
    @extend .fadeInDown;

    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
  }
}

.row {
  &.partial.image {
    max-height: calc(100vh - 85px);
  }
  .grid-full.image__content {
    width: 100%;
    position: relative;
    align-items: flex-end;
    height: 100%;
  }
}
