/**
 * Partial image
 * -----------------------------
 * Displays a full width image and has optional value for parallax
 * effect and an animated arrow pointing down
 *
 */

// Block
.image {
  position: relative;

  img {
    vertical-align: bottom;
    width: 100%;
  }

  &.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.image__overlay {
  @include position(top, left, 0, 0, absolute, true);

  opacity: $overlay-opacity;

  &.blue { background: $color--cornflower-blue; }
  &.orange { background: $color--flush-orange; }
  &.red { background: $color--radical-red; }
  &.green { background: $color--spring-green; }
}

// Element - Optional title text
.image__title {
  @include center(y, left, 40px);

  color: $color--white;
  font-size: 8rem;
  line-height: 1.15;
  max-width: 70%;

  @include mobile() {
    @include prefix('word-break', break-word);

    font-size: 4rem;
    line-height: 1;
    text-align: center;
    width: 100%;
  }
}

.image__subtitle {
  font-size: $h4;
}

// Element - Arrow pointing downwards with animation
.image__down-arrow {
  $size: 100px;

  @include border-radius($size);
  @include center(x, bottom, -($size * 1.5));
  @include size($size, $size * 2);

  background: $color__background;
  font-size: 4rem;
  padding: 30px 20px 0;
  text-align: center;

  i {
    @include transition(top, 500ms, ease-in-out);

    will-change: top;
  }
}

$start: 0;
$end: 10px;

@include keyframes(hint) {
  0% { top: $start; }
  12.5% { top: $end; }
  25% { top: $start; }
  100% { top: $start; }
}
