/**
 * Instagram
 * -----------------------------
 * Displays 4 Instagram photos in a row from Iteam1337 or a given coworker
 *
 */

// Block
.instagram {
  line-height: 0;
  position: relative;
  text-align: center;
  display: block;

  min-height: 100%;
  &.partial {
    padding: 0;
    margin: 0;
    &.padding-top {
      padding-top: 50px;
    }
  }
}

// Element - Instagram content
.instagram__content {
  display: flex;
  flex: 1;
  width: 100%;

  video,
  img {
    @include size(25%, 30%);
  }

  @include mobile() {
    display: block;

    video,
    img {
      @include size(100%);

      display: block;
    }
  }
}
