.partial-links {
  padding: $margin 0;

  .partial-links__item {
    &:not(:last-child) { margin-bottom: $margin / 5; }

    .url {
      @include inline-block(top);

      margin-right:2%;
      width: 30%;

      a {
        @include text-overflow();

        display: block;
      }
    }

    .text {
      display: inline-block;
      width: 68%;
    }
  }
}