.partial-links {
  padding: $margin 0;

  .partial-links__item {
    &:not(:last-child) { margin-bottom: $margin / 5; }

    .url {
      display: inline-block;
      vertical-align: top;

      margin-right:2%;
      width: 30%;

      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        display: block;
      }
    }

    .text {
      display: inline-block;
      width: 68%;
    }
  }
}
