/**
 * Partial list
 * -----------------------------
 * Bullet list. Is split in two columns by list handlebars helper.
 *
 */

// Block
.list {
}

// Element - List
.list__list {
  box-sizing: border-box;

  list-style: square;
  padding-left: $margin / 5;
  width: 49%;

  @include mobile {
    width: 100%;
  }
}
