.row.map {
  @include prefix('background-size', cover);
  
  height: 300px;
  overflow: hidden;
  padding: $margin 0;
  position: relative;

  @include tablet() {
    background-position-x: -300px;
  }

  @include mobile() {
    background-position-x: -570px;
  }

  img {
    @include center(y);

    max-width: 120%;

    @include mobile() {
      @include center(both);

      max-width: initial;
    }
  }
}