/**
 * Partial numbered list
 * -----------------------------
 * Bullet list with title and images to the right
 *
 */

$width: 70%;
$mobile-width: 100%;

// Block
.numbered-list {
  @include prefix('background-size', cover);
  background-position: center center;
  position: relative;
  overflow: hidden;

  height: 500px;
  height: 100vh;

  &, & * {
    box-sizing: border-box;
  }
  &:first-child {
    height: calc(100vh - 20px);
  }

  &.no-page-fill {
    max-height: auto;
  }

  &.partial {
    align-items: center;
    @include mobile {
      padding: 0;
    }
  }
  &__overlay {
    width: 100%;
    .grid-full {
      width: 100%;
    }
  }

}

.numbered-list:not(.no-overlay) {
  max-height: 100vh;

  @media screen and (max-height: 400px),
         screen and (max-width: 700px) {
    &,
    .numbered-list__overlay {
      max-height: 100% !important;
      min-height: calc(100vh - 20px) !important;
      height: 100% !important;
    }
  }
}

// Element - Faded overlay
.numbered-list__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  .grid-full {
    padding: 40px;
  }
  /* padding: $margin 0; */
  height: 100%;
}

.numbered-list:not(.no-overlay) {
  .numbered-list__overlay {
    background: rgba(0,0,0,0.4);
  }
}

// Element - Text content
.numbered-list__content {
  color: $color--white;

  @include mobile-landscape {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  p h1, h2, h3, h4, h5 {
    width: $width;
    @include mobile {
      width: $mobile-width;
    }
  }
}

// Element - Bullet list
.numbered-list__bullets {
  @include box-sizing;

  width: $width;

  @include mobile {
    width: $mobile-width;
  }

  li {
    $indent: 22px;

    margin-bottom: 5px;
    padding-left: $indent;
    text-indent: -$indent;

    &:before {
      @include bullets;

      content: "";
      display: inline-block;
      margin-right: 10px;
    }
  }
}

// Element - Images
.numbered-list__side-image {
  @include position(bottom, right, 0, 80px);

  width: 600px;

  &:hover { z-index: 20; }
  @include mobile { display: none; }

  &.image-1 {
    right: 40px;
  }
}
