/**
 * Partial numbered list
 * -----------------------------
 * Bullet list with title and images to the right
 *
 */

$width: 70%;
$mobile-width: 100%;

// Block
.numbered-list {
  @include prefix('background-size', cover);

  position: relative;
  overflow: hidden;


  &.no-page-fill {
    max-height: auto;
  }

  &.partial {
    padding: 0;
    margin-top: $margin;
  }

  &.padding-top .numbered-list__overlay {
    padding-top: $margin * 1.5;

    @media screen and (max-height: 400px), screen and (max-width: 700px) {
      padding-top: 50px;
    }
  }

  &.no-animation {
    .numbered-list__overlay {
      background: rgba(0,0,0,0.5);
    }
  }
}

.numbered-list:not(.no-page-fill) {
  max-height: 100vh;

  @media screen and (max-height: 400px),
         screen and (max-width: 700px) {
    &,
    .numbered-list__overlay {
      min-height: 100vh !important;
      max-height: 100% !important;
      height: 100% !important;
    }
  }
}

.numbered-list:not(.no-animation) {
  &:hover {
    .numbered-list__overlay {
      background: rgba(0,0,0,0.5);
    }
    .numbered-list__side-image {
      @include transform(translateY(120px));

      &.image-1 {
        @include transform(translateY(210px));
      }
    }
    .numbered-list__content {
      @include transform(translateX(0));
    }
  }
  .numbered-list__content {
    @include transform(translateX(-20px));
    @include transition(transform, 300ms, ease-in-out);

    @include mobile() {
      @include transform(translateX(0));
    }
  }
  .numbered-list__overlay {
    @include transition(background, 300ms, ease-in-out);
  }
  .numbered-list__side-image {
    @include transform(translateY(180px));
    @include transition(transform, 300ms, ease-in-out);

    &.image-1 {
      @include transform(translateY(240px));
    }
  }
}

// Element - Faded overlay
.numbered-list__overlay {
  .grid-full {
    padding: 40px;
  }

  background: rgba(0,0,0,0.7);
  padding: $margin 0;
  height: 100%;

  @include mobile() {
    padding: $margin / 2 $margin / 5;
  }
}

// Element - Text content
.numbered-list__content {

  color: #fff;

  h2 {
    color: #fff;
    font-size: 2.5vmax;
    @media screen and (max-height: 400px), screen and (max-width: 700px){
      font-size: 24px;
    }
  }

  // Text
  p {
    width: $width;
    font-size: 1.5vmax;

    @media screen and (max-height: 400px), screen and (max-width: 700px){
      font-size: 18px;
    }

    @include mobile() {
      width: $mobile-width;
    }
  }
}

// Element - Bullet list
.numbered-list__bullets {
  @include box-sizing();

  width: $width;

  @include mobile() {
    width: $mobile-width;
  }

  li {
    $indent: 22px;

    margin-bottom: 5px;
    padding-left: $indent;
    text-indent: -$indent;

    &:before {
      @include bullets();

      content: "";
      display: inline-block;
      margin-right: 10px;
    }
  }
}

// Element - Images
.numbered-list__side-image {
  @include position(bottom,right,0,80px);

  width: 600px;

  &:hover { z-index: 20; }
  @include mobile() { display: none; }

  &.image-1 {

    right: 40px;
  }
}
