/**
 * Partial offers
 * -----------------------------
 * Our offers
 * 
 */

// Block
.offers {
  padding: $margin 0;

  @include mobile() { padding: 0 $margin / 5; }
}

// Element - Offers list
.offers__offers-list {
  @include flex();
}

// Element - Offer
.offers__offer {
  margin-right: 2%;
  width: 31%;

  @include mobile() {
    padding: $margin / 5 0;
    width: 100%;
  }

  &:nth-child(n+4) {
    margin-top: $margin;

    @include mobile() { margin: 0; }
  }

  a { font-weight: $bold; }
}

// Element - Offer content
.offers__offer-content {
  margin-top: $margin / 5;
}

// Element - Icons
.offers__icons {
  color: #ccc;
  font-size: 6rem;
}