.pros-cons {
  padding:$margin 0;

  h2 {
    margin-top:0;
  }

  ul li {
    &:before {
      @include bullets();

      content:"";
      display: inline-block;
      margin-right: 10px;
    }
  }
}