/**
 * Partial quote
 * -----------------------------
 * A quote with the person it belongs to
 *
 */

 .row.partial.quote .grid-full {
   flex-wrap: wrap;
   justify-content: center;
 }

.quote {
  padding:$margin 0;
  // text-align: center;

  @include mobile() { padding: $margin; }

  img {
    @include border-radius(200px);
    margin-bottom: $margin / 3;
  }
  &__quote {
    color: #000;
    font-style: italic;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    width: 80%;

    // Add correct quotation marks
    p {
      font-size: 3rem;
      &:before { content:'“'; }
      &:after { content: '”'; }
    }
  }
  &__quotee {
    color: darken($light,30%);
    margin-top: $margin / 2;
  }
}
