/**
 * Partial quote
 * -----------------------------
 * A quote with the person it belongs to
 *
 */

.row.partial.quote .grid-full {
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
}

.quote {
  padding: $margin;

  @include mobile { padding: $margin; }

  img {
    @include border-radius(200px);
    margin-bottom: $margin / 3;
  }
  &__quote {
    margin: 0;
    position: relative;

    // Add correct quotation marks
    p {
      $multiply: 160%;
      $size-normal: font-size-reduce($p-size, $multiply);
      $size-vmax: font-size-reduce($p-vmax, $multiply);
      $size-smaller: font-size-reduce($small-p-size, $multiply, 140%);
      @include font-size($size-normal, $size-vmax, $size-smaller);
      padding-bottom: 0.1rem;
      small {
        $smaller-multiply: 90%;
        $smaller-size-normal: font-size-reduce($size-normal, $smaller-multiply);
        $smaller-size-vmax: font-size-reduce($size-vmax, $smaller-multiply, 120%);
        $smaller-size-smaller: font-size-reduce($size-smaller, $smaller-multiply, 140%);
        @include font-size($smaller-size-normal, $smaller-size-vmax, $smaller-size-smaller);
      }
      &:before { content:'“'; }
      &:after { content: '”'; }
    }
  }
  &__quotee {
    margin-top: $margin / 2;
  }
}
