//------------------------------------------------------------
// Selected cases
//
//------------------------------------------------------------
$bg-color: $color--spring-green;
.selected-cases {
  margin: 0 0 100px;
}
.selected-case {
  background: $bg-color;
  padding: 0;
  margin: 1%;

  &,
  & * {
    box-sizing: border-box;
  }

  &,
  &__element {
    position: relative;
    align-items: flex-end;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: flex-start;
  }

  &__element {
    border: none;
  }

  &__overlay {
    z-index: 1;
    @include position(top, left, 0, 0, absolute, true);
    background: rgba(darken($bg-color, 50%), .7);
    transition: background $transition--speed - 100 $transition--easing;
  }

  &:hover {
    .selected-case__overlay {
      transition: background $transition--speed - 100 $transition--easing;
      background: rgba($bg-color, .7);
    }
  }

  &__title {
    color: $color--white;
    font-size: $h3;
    font-weight: $font--bold;

    position: absolute;
    bottom: 10px;
    left: 20px;
    display: inline;
    z-index: 10;
    border-bottom: 4px solid $color--white;
  }

  &__image {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    filter: grayscale(1) saturate(10000%);
  }


}
