//------------------------------------------------------------
// Selected cases
//
//------------------------------------------------------------
$bg-color: $color--pink;

.selected-cases {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  align-items: center;

  padding: 20px 0;

  @include mobile {
    flex-flow: column;
  }

  &__block {
    position: relative;
    flex: auto;
    overflow: hidden;
    width: 33.3333333%;
    width: calc(100%/3);
    flex-grow: 0;
    flex-shrink: 1;
    @include mobile {
      width: 100%;
      flex-grow: 1;
    }
  }

  .selected-case {
    background: $bg-color;

    &__element {
      position: relative;
      align-items: center;
      display: flex;
      overflow: hidden;
    }

    &__element {
      border: none;
    }

    &__overlay {
      @include position(top, left, 0, 0, absolute, true);
      z-index: 1;
      background: rgba(black, .3);
      transition: background $transition--speed - 100 $transition--easing;
    }

    &:hover {
      .selected-case__overlay {
        transition: background $transition--speed - 100 $transition--easing;
        background: rgba($bg-color, .7);
      }
    }

    &__title {
      color: $color--white;
      /* font-size: $h3; */
      /* font-size: 3.5rem; */
      font-weight: $font--bold;

      position: absolute;
      bottom: 10px;
      left: 20px;
      display: inline;
      z-index: 10;
      border-bottom: 4px solid $color--white;
    }

    &__image {
      width: 100%;
      /* max-width: 250px; */
      height: auto;
      display: block;
      filter: grayscale(1) saturate(10000%);
    }
  }

}
