.social-media {
  &.partial {
    background: white;
  }
  &.row {
    i {
      font-size: 6rem;
    }
  }
}

.blog-posts {
  @include prefix('flex-wrap', wrap);

  display: flex;
  flex: 1 1;

  @include mobile() {
    padding: $margin / 2 $margin / 5;
  }

  li {
    margin-right:2%;
    max-width: 48%;
    min-width: 48%;
    vertical-align: top;

    @include mobile() {
      max-width:100%;
    }

    &:nth-child(3n-1) { margin-right:0; }
    &:nth-child(n+3) {
      margin-top: $margin / 5;

      p { margin-bottom: 0; }
    }

    p {
      margin: $margin / 5 0;
    }
  }
}

.social {
  a {
    border-bottom: none;
  }
}
