/**
 * Partial statistics
 * -----------------------------
 * A list of project statistics with icons.
 * Could also contain title and text.
 * 
 */

$circle: 50px;

// Block
.partial-stats {
  padding: $margin 0;
  background-size: cover;
  text-align: center;
  
  p {
    margin: 0 auto;
    max-width: 50%;
  }
}

// Statistics
.partial-stats__statistics {
  margin-top: $margin;
}

// Each individual statistic
.partial-stats__statistic {
  display: inline-block;
  margin-right: 2%;
  text-align: center;
  width: 32%;

  &:nth-child(3n) { margin-right: 0; }
  &:nth-child(n+4) { margin-top: $margin; }

  i {
    @include border-radius($circle);
    @include size($circle);
    
    background:#fff;
    display: block;
    font-size: 5rem;
    margin: 0 auto $margin / 3;
    padding:20px;
  }

  .number {
    font-size: 2rem;
    font-weight: 600;
  }

  .text { font-size:1.5rem; }
}