/**
 * Partial team
 * -----------------------------
 * A listing of the team involved in a project.
 * Pictures via Gravatar, with name and job position for each team member.
 *
 */

// Block
.team {
  // Team list
  &__team {
    @include flex();

    justify-content: flex-start;
    &.centered {
      justify-content: center;
    }
    &.small {
      .team__team-member {
        .coworker-element {
          &__coworker {
            &-email,
            &-phone {
              display: none;
            }
          }
        }
      }
    }
  }

  // Team members
  &__team-member {
    max-width: 200px;
    margin-bottom: 10px;
    .coworker-element {
      width: 100%;

      &__coworker-name,
      &__coworker-job {
        padding: 0;
        margin: 0;
      }
      &__coworker-name {
        font-size: 15px;
      }
      &__coworker-job {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
      &__text {
        padding: 5px;
        right: 5px;
      }
    }

    @include mobile() {
      width: 100%;
    }
  }
}
