/**
 * Partial team
 * -----------------------------
 * A listing of the team involved in a project.
 * Pictures via Gravatar, with name and job position for each team member.
 *
 */

// Block
.team {
  // Team list
  &__team {
    @include flex();

    justify-content: flex-start;
  }

  // Team members
  &__team-member {
    max-width: 200px;
    margin-bottom: 10px;
    .coworker {
      &__coworker-name {
        font-size: 15px;
      }
      &__coworker-job {
        font-size: 15px;
      }
      &__text {
        padding: 5px;
      }
    }

    @include mobile() {
      width: 100%;
    }
  }
}
