/**
 * Partial team
 * -----------------------------
 * A listing of the team involved in a project.
 * Pictures via Gravatar, with name and job position for each team member.
 * 
 */

// Block
.team {
  p {
    margin: $margin / 2 auto;
    width: 80%;
  }
}

// Team list
.team__team {
  @include flex();

  justify-content: center;
}

// Team members
.team__team-member {
  $spacing: $margin / 4;

  @include box-sizing();
  
  color: $color--link;
  text-align: center;
  width: 25%;

  @include mobile() {
    margin-top: $spacing;
    padding: 0 $spacing;
    width: 100%;
  }

  &:nth-child(n+5) { margin-top: $spacing; }

  img {
    display: block;
    margin: 0 auto $spacing;
  }

  .job {
    color: $color--font;
    font-size: 1.4rem;
  }
}