$img-width: 40%;

body {
  &, & * {
    text-align: left; /* Because so say the visual identity */
  }
}

.box.text {
  padding: 100px 10px;

  .box {
    max-width: 70%;
    @include mobile {
      max-width: 100%;
    }
  }

  &.less-height {
    padding: 40px 20px 20px;
  }
  &.light-text {
    &, a {
      color: $color--white;
    }
    a {
      border-bottom-color: $color--white;
    }
  }

  @include mobile {
    padding: $margin--fifth;
  }

  h3 {
    margin-top: 0;
    padding-right: $margin / 2;
    line-height: 1.2em;
  }

  &.positioned .grid-full {
    align-items: center;
    display: flex;
  }

  img {
    max-width: $img-width;
    height: auto;
    display: inline-block;

    &.right {
      margin-left: $margin;
    }

    @include mobile {
      margin-bottom: $margin / 2;
      max-width: 100%;
    }
  }

  &.one-line {
    padding: $margin / 2 0;
    text-align: center;

    p {
      margin: 0;
    }
  }

  &.center {
    background-position: center center;
  }

  &.headline {
    h1 {
      transform: translateX(0), translateY(0);
      position: absolute;
      top: 50%;
      left: 40px;
      color: $color--white;
    }
  }

  &.parallax {
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-top: $margin;
    padding: $margin * 2 0;
    position: static;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(33,33,33,0.8);
    z-index: 0;

    h1,
    h2,
    h3 {
      color: inherit;
    }

    @include mobile {
      padding: $margin 20px;
    }
  }

  .left {
    text-align: left;
  }

  .left,
  .right {
    display: inline-block;
    margin: 0;
  }
  .left {
    width: 30%;
    min-height: 100px;
  }
  .right {
    padding-left: 5%;
    width: 65%;
  }

  &.no-padding-top { padding-top: 0; }
  &.no-padding-bottom { padding-bottom: 0; }
}
