$img-width: 40%;

.row.text {
  @include mobile() {
    padding: $margin--fifth;
  }

  h3 {
    margin-top: $margin / 2;

    &:first-of-type {
      margin-top:0;
    }
  }

  &.positioned .grid-full {
    align-items: center;
    display: flex;
  }

  p {
    margin-bottom: ($margin / 5) * 2;

    &:only-of-type,
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  img {
    max-width: $img-width;

    &.right {
      margin-left: $margin;
    }

    @include mobile() {
      margin-bottom: $margin / 2;
      max-width: 100%;
    }
  }

  &.one-line {
    padding: $margin / 2 0;
    text-align: center;

    p {
      margin:0;
    }
  }

  &.center {
    background-position: center center;
  }

  &.headline {
    h1 {
      @include center(y, left, 40px);

      color: $color--white;
      font-size: 10rem;
    }
  }

  &.parallax {
    @include prefix('background-size', cover);

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-size: 4rem;
    margin-top: $margin;
    padding: $margin * 2 0;
    position: static;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(33,33,33,0.8);
    z-index: -1;

    h1,
    h2,
    h3 {
      color: inherit;
      line-height:1;
    }

    p {
      font-size: 2rem;
    }

    @include mobile() {
      padding: 20px $margin;

      h1,h2,h3 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  .left {
    text-align: left;
  }

  &.no-padding-top { padding-top: 0; }
  &.no-padding-bottom { padding-bottom: 0; }
}
