/**
 * Partial video
 * -----------------------------
 * Iframe/video content scales in a responsive way
 *
 * padding-bottom is set to 56.25% by default which equals a 16:9 format
 * but 4:3 is possible with the added modifier.
 */

$four-three: 75%;
$sixteen-nine: 56.25%;

// Block
.partial.video {
  padding-top: 0;
}

.video {
  height: 500px;
  line-height: 0;
  padding-bottom: $sixteen-nine;
  position: relative;

  margin: auto;

  // 4:3 format
  &--four-three {
    padding-bottom: $four-three;
  }

  iframe,
  video {
    widht: 100%;
    height: 100%;
  }

  &.front {
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0;
    margin: auto;
    video {
      min-width: 100%;
      width: initial;
      height: initial;
      position: relative;
      top: 50%;
      left: 50%;
      margin: auto;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
