.row.career {
  > .grid-full { padding: $margin 0; }

  > .row.image {
    
    height: 450px;

    @include mobile() {
      height: auto;
    }
  }
  .text {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 20px 20px;

    @include box-sizing();

    h4:first-of-type { margin-top: 0; }


    ul {
      list-style-type: none;
      font-size: 1.5rem;

      li {
        @include box-sizing();
        padding: $margin / 2 $margin / 3;
        text-align: center;
        vertical-align: top;
        &:not(:last-child) {
          margin-bottom: $margin / 3;
        }
      }
    }

    &:last-child {
      width: 100%;
      padding: 20px;
      ul {
        @include flex();
        width: 100%;
        li {
          width: 50%;
        }
      }
    }

    img { max-width: 100%; }

    p { 
      margin-bottom: 0; 
    }
    
    @include mobile() {
      width: 100%;
      padding: 0 $mobile-padding;
    }
  }
}