/**
 * Buttons
 * -----------------------------
 * Default buttons and remove styling for submit buttons
 * that should be wrapped in div with the button.
 *
 */

$font-size: 1.75rem;
$color-hover: #000;

// Common
.button,
input[type="submit"] {
  @include transition(all, 300ms, ease-in-out);
  
  background: none;
  color: $color__accent;
  cursor: pointer;
  font-size: $font-size;
}

// Button
.button {
  @include border-radius(4px);
  @include box-sizing;

  border: 2px solid $color__accent;
  display: inline-block;
  font-weight: 100;
  padding: 5px 20px;

  &:hover {
    background: $color__accent;
    color: $color-hover;

    i,
    input[type="submit"] {
      color: $color-hover;
    }
  }

  i {
    @include transition(all, 300ms, ease-in-out);

    color: $color__accent;
    font-size: 4rem;
    line-height: 0;

    &:before { line-height: 0; }
  }

  @include mobile {
    text-align: center;
    padding: 10px 20px;
  }
}

.button--submit {
  @include mobile {
    width: 100%;
  }
}

input[type="submit"] {
  @include appearance(none);

  border:none;
}