/**
 * Footer
 * -----------------------------
 * The footer and its elements
 *
 */

// Block
.row.footer .grid-full {
  align-items: flex-start;
  width: $max-width;

  @include mobile {
    width: 100%;
  }
}

.footer {
  background: $background-footer;
  padding: $margin 0;

  @include mobile {
    padding: 20px;
  }
  a, li, i {
    color: $color--white;
    font-size: 16px;
    line-height: 145%;
    @include mobile {
      font-size: 1.5rem;
    }
    @include mobile-landscape {
      font-size: 1.25rem;
    }
  }

  a {
    i {
      font-size: 4rem;
      @include mobile-landscape {
        font-size: 3rem;
      }
    }
  }

  time { font-size: 1.2rem; }
  p { margin-bottom: 20px; }
  article { margin-bottom: 10px; }
}

.footer__title {
  font-size: 21px;
  font-weight: $font--bold;
}

// Element - Content block
.footer__block {

  box-sizing: border-box;
  display: inline-block;

  color: #fff;
  padding-right: 20px;
  width: 25%;

  @include mobile {
    text-align: center;
    width: 100%;
  }

  h4 {
    color: $color--white;
    margin-bottom: 20px;
  }

  &.social li {
    display: inline-block;
    margin-right: 20px;
  }

  @include mobile {
    h4 { margin-top: 20px; }

    .date { display: none; }
  }
}
