/**
 * Footer
 * -----------------------------
 * The footer and its elements
 *
 */

// Block
.footer {
  background: $background-footer;
  padding: $margin 0;

  @include mobile() {
    padding: 20px;
  }

  .grid-full {
    width: 970px;

    @include mobile() {
      width: 100%;
    }
  }

  a {
    &,
    i {
      color: #fff;
    }

    i { font-size: 4rem; }
  }

  time { font-size: 1.2rem; }
  p { margin-bottom: 20px; }
  article { margin-bottom: 10px; }
}

.footer__title {
  font-weight: $font--bold;
}

// Element - Content block
.footer__block {
  @include box-sizing;
  @include inline-block(top);

  color: #fff;
  padding-right: 20px;
  width: 25%;

  @include mobile {
    text-align: center;
    width: 100%;
  }

  h4 {
    color: $color--white;
    margin-bottom: 20px;
  }

  &.social li {
    display: inline-block;
    margin-right: 20px;
  }

  @include mobile() {
    h4 { margin-top: 20px; }

    .date { display: none; }
  }
}
