/**
 * Inputs
 * -----------------------------
 * Every type of input field, including textareas
 *
 */

input:not([type="submit"]),
textarea {
  @include border-radius();
  @include box-sizing();
  transition: all 200ms ease-in-out;

  background: $background-input;
  border:2px solid $background-input;
  font-size: $small-p-size;
  padding: 15px 20px;

  &:focus {
    background: #fff;
    border: 2px solid $color__accent;
    outline: none;
  }
}

.contact__field {
  color: rgb(146,159,166);
  width: 49%;

  @include mobile {
    width: 100%;
  }
}

textarea {
  resize: none;
  width: 100%;
}
