/**
 * Links
 * -----------------------------
 * Anything related to links
 *
 */

a {
  color: $color__white;
  text-decoration: none;
  border-bottom: 0.20em solid $color__white;
  margin-bottom: 0.25em;
}
