$navbar-bg: $background-footer;

#navbar {
  @include position(top,left,0,0);
  @include user-select;

  &.static {
    position: relative;
  }

  font-family: $header-font;
  right: 0;
  z-index: 2;

  .open & {
    height: 100%;
    padding: 50px 0 0;
    top: 0;
    position: fixed;
    background: $color--orange;

    #close-navbar:before {
      font-size: 2rem;
    }

    ul li a,
    .nav__sub-icon {
      float: none;
      display: block;
    }

    .nav {
      position: relative;
      display: block;
      li > span > a {
        padding-left: 50px;
      }
      a {
        display: inline-block;
        color: $color--black;
        padding: 20px;
        border-bottom: none;
        &:before {
          content: "—";
          position: relative;
          left: -15px;
        }
        span {
          padding: 2px 5px;
        }
        &.active {
          span {
            color: $color--white;
            background: $color--blue;
          }
        }
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
        height: 100%;
        padding: 0;
        overflow: scroll;
        li {
          margin: 0;
          flex-shrink: 0;
          flex-grow: 0;
          flex-basis: auto;
          width: 100%;
          align-self: auto;
          position: relative;
        }
        a {
          text-align: left;
          margin: 0 auto;
          display: inline-block;
          color: $color--white;
        }
      }
    }

    .navicon {
      &:before {
        color: $color--white;
      }
    }
  }

  .navicon {
    @include position(top, right, 0, 20px);

    top: 30.425px;

    cursor: pointer;
    display: none;
    font-family: $icons;

    &:before {
      content: $ionicon-var-navicon;
      display: block;
      font-size: 3rem;
      color: $color--white;
    }

    @include mobile { display:block; }
  }

  .grid-full {
    position: relative;
    top: 0;
    @include mobile {
      height: 100%;
    }
  }

  .logo {
    padding: 0;
    margin: 0;
    display: block;
    &,
    #logo_i,
    #logo {
      line-height: ($h1-max / 2);
      height: ($h1-max / 2);
      @include devices(tablet-landscape, tablet, mobile-landscape, mobile) {
        height: $small-p-max;
        line-height: $small-p-max;
      }
    }
    #logo_i,
    #logo {
      vertical-align: top;
    }
    margin-top: -($h2-max / 4);
    @include devices(tablet-landscape, tablet, mobile-landscape, mobile) {
      height: $small-p-max;
      line-height: $small-p-max;
    }
  }

  .logo {
    border: none;
    top: 50%;
    left: 30px;
    position: absolute;
    @include mobile {
      top: 26px;
      left: 20px;
      margin: 0;
      position: fixed;
    }
  }

  ul {
    margin: 20px;
    li {
      line-height: 140%;
      margin-left: $margin / 10;
      margin-right: $margin / 10;

      a {
        position: relative;
        float: left;

        letter-spacing: -1px;
        word-spacing: -1px;
        font-weight: normal;

        &.active {
          border-bottom-style: solid;

          @include mobile {
            border-bottom-color: $color--white;
          }

          &:after {
            opacity: 1;
          }
        }
      }

      @include mobile {
        font-size: 3rem;
        margin-right: 0;

        &:not(:last-child) {
          margin-bottom: $margin / 2;
        }
      }
    }
  }

  .nav {
    @include box-sizing;
    @include flex;
    @include justify-content(flex-end);

    width: 100%;
    width: calc(100% - 140px);

    background: transparent;
    list-style: none;
    margin-left: auto;
    max-width: $max-width;
    line-height: 100%;
    padding: 10px 20px;

    &__sub {
      position: relative;
      padding: 0;
      margin: 0;
      vertical-align: baseline;
      a {
        font-size: 100%;
        border: none;
        @include mobile {
          font-size: $small-p-size;
        }
        &:before {
          content: "| ";
          margin-left: 5px;
          margin-right: 5px;
          border: none;
        }
      }

      &-icon {
        display: inline-block;

        a {
          &:before {
            content: "";
            margin: 0;
            padding: 0;
          }
          &.active {
            border: none;
          }
        }
        img {
          padding: 0 10px;
          vertical-align: bottom;
          max-width: 1em;
          max-height: 1em;
        }
      }

    }

    @include mobile {
      width: 100%;
      display: none;
    }
  }

  @include mobile {
    z-index: 10;
    height: 80px;
    padding: 0;
  }


  z-index: $max-z-index-32-bit;
  position: fixed;
}
