$navbar-bg: $background-footer;

body.dark #navbar .nav a,
body.invert #navbar .nav a {
  color:#333;
}

#navbar {
  @include position(top,left,0,0);
  @include transition(top, 200ms, ease-in-out);
  @include user-select();

  font-family:$header-font;
  right:0;
  z-index:2;

  &.open {
    height:100%;
    padding: 0;
    top:0;

    #close-navbar:before {
      content: $ionicon-var-close;
      font-size: 2rem;
    }

    .nav {
      display: block;
    }
  }

  .navicon {
    @include position(top,right, $margin / 4, $margin / 2);

    cursor:pointer;
    display:none;
    font-family: $icons;

    &:before {    
      content: $ionicon-var-navicon;
      display: block;
      font-size: 3rem;
    }

    @include mobile() { display:block; }
  }

  .grid-full {
    position: relative;

    @include mobile() { height: 100%; }
  }

  #logo {
    @include position(top,left,15px, 20px);

    height: 25px;

    @include mobile() {
      @include position(top,left,12px,20px);
    }
  }

  .nav {
    @include box-sizing();
    @include flex();
    @include justify-content(flex-end);
    
    background:#fff;
    list-style:none;
    margin:0 auto;
    max-width:$max-width;
    padding:$margin / 4;

    li {
      line-height: 1;
      margin-right:$margin / 5;

      &:last-child {
        margin-right: 0;
      }
      
      a {
        @include transition(all, 200ms, ease-in-out);

        color: #666;
        letter-spacing:0.05em;
        position: relative;
        will-change: color;

        &:after {
          @include transform(translateY(10px));
          @include transition(all, 200ms, ease-in-out);

          background: fade($color__accent, 90%);
          content:"";
          display: block;
          height: 2px;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
        }

        &:hover {
          color: darken($color__accent,10%);

          &:after {
            @include transform(translateY(-3px));

            opacity: 1;
          }
        }

        &.active {
          color: $color__accent;

          &:after {
            @include transform(translateY(-3px));

            opacity: 1;
          }
        }
      }

      @include mobile() {
        font-size: 3rem;
        margin-right: 0;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: $margin / 2;
        }
      }
    }

    @include mobile() {
      @include center(both);

      width:100%;
      display: none;
    }
  }

  @include mobile() {
    z-index: 10;
    height:55px;
    padding: 0;
  }
}