$navbar-bg: $background-footer;

#navbar {
  @include position(top,left,0,0);
  @include transition(top, 200ms, ease-in-out);
  @include user-select();

  font-family:$header-font;
  right:0;
  z-index:2;

  &.open {
    height: 100%;
    padding: 0;
    top: 0;
    position: fixed;
    background: $color--white;

    #close-navbar:before {
      font-size: 2rem;
    }

    .nav {
      display: block;
      a {
        color: $color--black;
        padding: 20px;
        &:not(.active) {
          border-bottom: none !important; //4.8px solid $color--black;
        }
        @include mobile {
          text-align: center !important;
          margin: 0 auto;
          display: block;
          &:hover {
            background: $color--spring-green;
          }
        }
      }
    }

    .navicon {
      &:before {
        color: $color--black
      }
    }
  }

  .nav--remote {
    position: absolute;
    right: 40px;
    top: 15px;
  }

  .navicon {
    @include position(top,right, $margin / 4, $margin / 2);

    cursor: pointer;
    display: none;
    font-family: $icons;

    &:before {
      content: $ionicon-var-navicon;
      display: block;
      font-size: 3rem;
      color: $color--white;
    }

    @include mobile() { display:block; }
  }

  .grid-full {
    position: relative;

    @include mobile() { height: 100%; }
  }

  #logo {
    @include center(y, left, 40px);

    height: 25px;

    @include mobile() {
      @include position(top, left, 35px, 20px);
    }
  }

  ul {
    li {
      line-height: 1;
      margin-right:$margin / 5;

      &:last-child {
        margin-right: 0;
      }

      a {
        @include transition(all, 200ms, ease-in-out);

        color: $color--white;
        position: relative;

        font-size: 18px;
        line-height: 21.5px;
        letter-spacing: -1px;
        word-spacing: -1px;
        font-weight: normal;

        &:after {
          @include transform(translateY(10px));
          @include transition(all, 200ms, ease-in-out);

          background: fade($color--white, 90%);
          content:"";
          display: block;
          height: 2px;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
        }

        &:hover {
          color: darken($color--white, 10%);

          &:after {
            // @include transform(translateY(-3px));

            opacity: 1;
          }
        }

        &.active {
          border-bottom: 4.8px solid $color--spring-green;

          &:after {
            // @include transform(translateY(-3px));

            opacity: 1;
          }
        }
      }

      @include mobile() {
        font-size: 3rem;
        margin-right: 0;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: $margin / 2;
        }
      }
    }
  }
  .nav {
    @include box-sizing();
    @include flex();
    @include justify-content(flex-end);

    background:transparent;
    list-style:none;
    margin-left: auto;
    max-width:$max-width;
    padding: $margin / 5 * 2;

    @include mobile() {
      @include center(both);

      width:100%;
      display: none;
    }
  }

  @include mobile() {
    z-index: 10;
    height:55px;
    padding: 0;
  }
}
