---
subtitle: The Team
order: 3
layout: default.hbs

navigation: false
contact: true

image:
  type: image
  animate: true
  background: fadeIn
  title: The Team
  start: true
  height: 300px
  background-image: url(/content/images/section-top/medarbetare_multiply.jpg)
---
{{>image image}}

<div class="row partial coworkers">
  <div class="grid-full">
    <ul class="coworkers__list">
      {{#pages route="./src/pages/coworkers/" start="" type="coworker" size=300}}
        {{#each data}}
          <li>
            {{> coworker this}}
          </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>
