---
subtitle: Our team
menu-order: 3
menu-title: Team

body-class:
page-color: blue

layout: default.hbs

top-content:
  type: fullview
  extra-classes: padding-top
  color: white
  background-color: blue
  background-image: /content/images/section-top/medarbetare_multiply.jpg
  mdtext: src/pages/team/main-block
---
{{>fullview top-content}}

<div class="row partial team black">
  <div class="grid-fullscreen">
    <ul class="team__list">
      {{#pages route="./src/pages/team/" start="" type="coworker" size=400}}
        {{#each data}}
          <li>
            {{> coworker this}}
          </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>
