---
subtitle: Our team
order: 3
menu-title: Team
body-class:

layout: default.hbs
image:
  type: image
  animate: true
  parallax: true
  background: fadeIn
  title: Our team
  start: true
  height: 500px
  background-image: url(/content/images/section-top/medarbetare_multiply.jpg)
---
{{>image image}}

<div class="row partial team">
  <div class="grid-full">
    <ul class="team__list">
      {{#pages route="./src/pages/team/" start="" type="coworker" size=300}}
        {{#each data}}
          <li>
            {{> coworker this}}
          </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>
