---
subtitle: Team
menu-order: 3
menu-title: Team

body-class:
page-color: blue

layout: default

top-content:
  type: hero
  extra-classes: padding-top
  color: white
  background-color: blue
  background-image: /content/images/section-top/medarbetare_multiply.jpg
  mdtext: src/pages/team/main-block
---
<!-- {{>hero top-content}} -->

<div class="box partial team color-white background-black">
  <div class="grid-fullscreen">
    <ul class="team__list">
      {{#getPages route="./src/pages/team/" start="" type="coworker" size=400}}
        {{#each data}}
          <li>{{> coworker this}}</li>
        {{/each}}
      {{/getPages}}
    </ul>
  </div>
</div>
