/* COLORS
--------------------------------------------------------*/
$color: #7F8C8D;
$accent: #ffbd09;
$bg: #fff;
$light: rgb(237,237,237);
$quote: rgb(153, 153, 153);
$a: #686A6B;

$input-bg: rgb(234,241,244);
$footer-bg: rgb(35,38,39);

/* Brand colors
--------------------------------------------------------*/
$facebook: #3B5998;
$twitter: #55ACEE;