---
layout: coworker.hbs
invert: true

name: Rickard Laurin
email: rickard.laurin@iteam.se
job: Frontendutvecklare
phone: +46 72 1834008

top-image: /content/images/coworker-top/rln.jpg

texts:
  about:
    -
      title: Varför jobbar du med teknik?
      position: left
      content: "<p>Tidigt 90-tal fick familjen hem en 286:a, jag blev direkt förälskad. Jag spelade senare mycket Delta Force i tonåren. Där började jag utvecklarbanan med att bygga klanernas hemsidor.</p><p>Fram tills jag började på KTH var det bara massa mindre hobbyprojekt. Där fick jag ta över sektionens hemsida och blev labassistent i MATLAB. Nu upptäckte jag att det var programmering jag älskade, att skriva kod och bygga vackra saker.</p>"
    -
      title: Specialistkompetens
      position: right
      content: "HTML5, CSS (CSS3, LESS, SASS) och JavaScript."
    -
      title: Bakgrund
      position: right
      content: "Materialdesign på KTH, där jag insåg att jag ville hålla på med utveckling. Bytte då till interaktionsdesign på Nackademin, kunde inte ha gjort ett mer rätt val."
    -
      title: Superkraft
      position: right
      content: "Kan mer om film än IMDb."

social-media:
  blog: http://willcodefor.beer/rss
  linkedin: in/rickardlaurin/
  instagram: rickardlaurin
  twitter: rickardlaurin
  github: believer
---
