.row {
  @mixin text-colors($color) {
    &, & a {
      color: $color;
    }
    a {
      border-bottom-color: $color;
    }
  }

  @mixin element($background, $color) {
    background: $background;
    &.transparent {
      background: rgba($background, .5);
    }
    @include text-colors($color);
  }

  &.background {
    &-blue {
      @include element($color--blue, $color--white);
    }
    &-orange {
      @include element($color--orange, $color--black);
    }
    &-pink,
    &-red {
      @include element($color--pink, $color--white);
    }
    &-green {
      @include element($color--green, $color--black);
    }
    &-black {
      @include element($color--black, $color--white);
    }
    &-white {
      @include element($color--white, $color--black);
    }
  }

  &.color {
    &-black {
      @include text-colors($color--black);
    }
    &-white {
      @include text-colors($color--white);
    }
  }
}

.colored-element {
  @mixin colored_elements($color, $text-color: white, $active: lighten($color--black, 30%)) {
    &.background, .background {
      background-color: rgba($color, 0);
      color: $text-color;
      transition: height 250ms ease-in-out, background-color 200ms ease-in-out;
    }
    .nav-off-screen & {
      &.background, .background {
        transition: height 250ms ease-in-out, background-color 200ms ease-in-out;
        background-color: rgba($color, 0.95);
      }
    }
    &.color, .color {
      color: $color;
    }
    &.border, .border {

      color: $text-color;
      border-bottom-color: $color--white;
      &.active {
        border-bottom-color: $active;
      }
    }
    &.icon-highlight, .icon-highlight {
      background-color: $active;
    }
  }

  &__,
  &__green {
    @include colored_elements($color--green, $color--white);
  }
  &__blue {
    @include colored_elements($color--blue, $color--white);
  }
  &__pink {
    @include colored_elements($color--pink, $color--white);
  }
  &__orange {
    @include colored_elements($color--orange, $color--white);
  }
  &__black {
    @include colored_elements($color--black, $color--white);
  }
  &__white {
    @include colored_elements($color--white, $color--black, darken($color--white, 30%));
  }
}
