.row {
  &.blue {
    background: $color--cornflower-blue;
    color: $color--white;
  }

  &.orange {
    background: $color--flush-orange;
    color: $color--black;
  }

  &.red {
    background: $color--radical-red;
    color: $color--white;
  }

  &.green {
    background: $color--spring-green;
    color: $color--black;
  }

  &.black {
    background: black;
    color: white;
  }
}
