//------------------------------------------------------------
// COLORS
//
//------------------------------------------------------------
$color--spring-green: rgb(56, 255, 161);         // #38ffa1;
$color--cornflower-blue: rgb(102, 140, 255);     // #668cff
$color--radical-red: rgb(255, 59, 92);           // #ff3b5c
$color--flush-orange: rgb(255, 134, 0);          // #ff8600
$color--black: rgb(0, 0, 0);                     // #000000
$color--white: rgb(255, 255, 255);               // #ffffff

$color--font: $color--black;
$color--accent: $color--flush-orange;
$color--background: $color--white;
$color--quote: rgb(153, 153, 153);
$color--link: $color--black;

$background-input: rgb(234,241,244);
$background-footer: $color--black;

$light: rgb(237,237,237);

//
// Brand colors
// --------------------------------------------------
$facebook: #3B5998;
$twitter: #55ACEE;

//
// Colors options
// --------------------------------------------------
$overlay-opacity: .7;

@mixin colored_elements($color, $text-color: white, $active: darken($color, 20%)) {
  &.background, .background {
    background-color: $color;
    color: $text-color;
  }
  &.color, .color {
    color: $color;
  }
  &.border, .border {
    color: $text-color;
    border-bottom-color: white;
    &.active {
      border-bottom-color: $active;
    }
  }
}

.element__green {
  @include colored_elements(#38ffa1);
}
.element__blue {
  @include colored_elements(#668cff);
}
.element__pink {
  @include colored_elements(#ff3b5c);
}
.element__orange {
  @include colored_elements(#ff8600);
}
.element__black {
  @include colored_elements(#000);
}
.element__white {
  @include colored_elements(#fff);
}
