/* COLORS
--------------------------------------------------------*/
$color--font: #7F8C8D;
$color--accent: #ffbd09;
$color--background: #fff;
$color--quote: rgb(153, 153, 153);
$color--link: #686A6B;

$background-input: rgb(234,241,244);
$background-footer: rgb(35,38,39);

$light: rgb(237,237,237);

/* Brand colors
--------------------------------------------------------*/
$facebook: #3B5998;
$twitter: #55ACEE;