$ionicons-font-path: "../content/fonts";

@import "../../../bower_components/ionicons/scss/ionicons";

/* FONTS
--------------------------------------------------------*/

$header-font:'Roboto', sans-serif;
// $header-font:'Droid Serif', serif;
$body-font: 'Roboto', sans-serif;

$icons: $ionicons-font-family;

$slim: 200;
$font--bold: 500;

$h1: 5rem;
$h2: 4.5rem;
$h3: 2.5rem;
$h4: 2rem;
$p-size: 1.75rem;
$small-p-size: 1.6rem;

/* Headings
--------------------------------------------------------*/
h1,
h2,
h3,
h4 {
  font-family: $header-font;
  font-weight: $font--bold;
  line-height: 1.1;
  margin-bottom: $margin--fifth;

  a {
    color: $color--link;
  }
}

h1 {
  font-size: $h1;
  @include mobile {
    font-size: $h2;
  }
}

h2 {
  font-size: $h2;

  @include mobile {
    font-size: $h3;
  }
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

p {
  font-family: $body-font;
  font-size: $p-size;
  font-weight: 200;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

strong {
  font-weight: 400;
}
