$ionicons-font-path: "../content/fonts";

@import "../../bower_components/ionicons/scss/ionicons";

/* FONTS
--------------------------------------------------------*/

$header-font:'ITC Avant Garde Gothic Std', sans-serif;
// $header-font:'Droid Serif', serif;
$body-font: 'Palatino', sans-serif;

$icons: $ionicons-font-family;

$bold: 600;

$h2: 4.5rem;
$h3: 2.5rem;
$h4: 2rem;
$p-size: 1.75rem;
$small-p-size: 1.6rem;

/* Headings
--------------------------------------------------------*/
h1,
h2,
h3,
h4 {
  color: $a;
  font-family: $header-font;
  font-weight: $bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h2,
h3 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}
