$ionicons-font-path: "../content/fonts";

@import "../../../bower_components/ionicons/scss/ionicons";

/* FONTS
--------------------------------------------------------*/

$header-font:'Roboto', sans-serif;
// $header-font:'Droid Serif', serif;
$body-font: 'Roboto', sans-serif;

$icons: $ionicons-font-family;

$slim: 200;
$bold: 500;

$h2: 4.5rem;
$h3: 2.5rem;
$h4: 2rem;
$p-size: 1.75rem;
$small-p-size: 1.6rem;

/* Headings
--------------------------------------------------------*/
h1,
h2,
h3,
h4 {
  font-family: $header-font;
  font-weight: $bold;
  line-height: 1.5;

  a {
    color: $color--link;
  }
}


h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
  font-weight: $slim;
}

h4 {
  font-size: $h4;
  font-weight: $slim;
}

p {
  font-family: $body-font;
  font-size: $p-size;
  font-weight: 200;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

strong {
  font-weight: 400;
}
