$mobile-portrait: 480px !default;
$mobile-landscape: 768px !default;
$tablet-landscape: 959px !default;
$desktop: 1025px !default;

$max-width: 970px;
$mobile-padding: 20px;

$margin: 100px;
$margin--half: $margin / 2;
$margin--third: $margin / 3;
$margin--quarter: $margin / 4;
$margin--fifth: $margin / 5;
