---
subtitle: Fj채rrhj채lp
order: 6
layout: default.hbs
image:
  type: image
  start: true
  title: Fj채rrhj채lp
  image:
    src: http://iteam.se/content/images/section-topbilder/isolde.jpg
text:
  type: text
  mdtext: text
---

<div class="row">
  {{> image image}}
  {{> text text}}
</div>