extends ../../index

block content
  include vimla

  mixin textBox(text)
    - var text = text
    include ../../../jade_includes/text

  h1.case-title= title

  .rows
    +textBox(text)
    +textBox(text3)
    include ../../../jade_includes/team
    +textBox(text2)
    include ../../../jade_includes/image
    include ../../../jade_includes/quote
    include ../../../jade_includes/list
    include ../../../jade_includes/mosaic
