- var title = 'Vimla'
- var img = 'http://www.iteam.se/content/images/case-topbilder/vimla1.jpg'

//- LIST
- var list = ['Systemutveckling','Rådgivning','Operations','Frontend','Other stuff']

//- TEXTS
- var text = 'Vi på Iteam har haft nöjet att samarbeta med Telenor för att ta fram det nya abonnemanget Vimla. Arbetet och processen har varit unik eftersom vi har haft två beställare med en imponerande kompetens samt professionella samarbetspartner (designbyrån Made to order med flera). Det har gjort att samarbetet flutit på och vi har varit på samma bana under hela projektet.'

- var text2 = 'Vimla bygger på öppenhet, som kund är du inte kund utan du är medlem och du är en stor del av Vimlas framtid. Emma-Klara Wächter och Johan Littorin på Vimla har arbetat hela tiden med att alla samarbetspartner ska uppleva en teamkänsla – vi är inte samarbetspartner, vi är kollegor. Detta har varit en viktig nyckel till framgång i vårt samarbete. Vi på Iteam har varit strategiskt involverade från starten av samarbetet, både vad gäller form och funktion. Samarbetet där vi som samarbetspartner är en del av Vimlagruppen, gör det enkelt för oss att förmedla vidare denna känsla till Vimlas medlemmar.'

- var text3 = [ { title: 'Utmaningen', text: 'Det var ont om tid och mycket skulle göras på kort tid. Uppdraget startade med att vi på Iteam tog fram en prototyp av Vimla, som vid det laget inte hette Vimla och vars grafiska profil inte heller var fastställd. Prototypen förmedlade en känsla för hur resultatet skulle kunna se ut så att det resterande Vimlagruppen enkelt kunde återkomma med feedback på färg, form och funktionalitet. Genom vägen fram arbetade Iteams frontendutvecklare och Made to orders designer mycket tätt och bredvid varandra för att snabbt jobba fram den slutgiltiga formen. Samtidigt som designen formades arbetade Iteams systemutvecklare med funktionaliteten på baksidan. Det skapade effektivitet i framtagandet av Vimla.' }, { title: 'Lösningen', text: 'Det unika i lösningen är att alla samarbetspartner har ett gemensamt och tydligt mål. Alla ville utveckla en produkt som vi tror mycket starkt på. Därför har arbetet för oss på Iteam inte bara handlat om systemutveckling utan det har även handlat om att utveckla varumärket och se till att Telenor har kunnat bygga sin produkt i den takt och i den ordning de önskat.' } ]

//- MOSAIC
- var mosaicBg = 'rgb(220,220,220)'
- var imgs = ['http://www.iteam.se/content/images/case-topbilder/vimla2.jpg','https://vimla.se/upload/Ikoner/fria_samtal.jpg','https://vimla.se/upload/Ikoner/dolda_avgifter_V2.jpg']

//- TEAM
- var team = ['Rickard', 'Alexander', 'Dennis', 'Martin', 'Joel', 'Sophie']

//- QUOTE
- var quote = 'Vi ser vårt team hos Iteam mer som våra kollegor än som leverantör. Istället för att vi ställer krav som Iteam utför så jobbar vi tillsammans och sätter alla funktioner och lösningar för siten. Det har gjort att vi kommit mycket längre än vad vi skulle gjort annars'
- var quoteBy = 'Johan Littorin, intiativtagare och affärsansvarig för Vimla'