---
subtitle: Drift & Support
icon: ion-settings
layout: default.hbs
navigation: true
description: Våra Supporttekniker ger personlig och snabb hjälp och kan det senaste inom IT. Antingen guidar Supporteknikerna på telefon eller kommer på studs om det krävs.
text:
  type: text
  mdtext: text
---
<div class="cases-wrap">
  {{#pages category=subtitle}}
    <div class="grid-full">  
      <ul>
        {{#each data}}
          <li>
            <a href="/case/{{url}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/pages}}
</div>

{{> text text}}