---
subtitle: Hello from the future
layout: default

page-color: green

hide-navigation: true
unpublished: true

image:
  background-color: green
  height: 300px
  type: ie-header
---

{{> image image }}

<div class="container">
  <div class="row ie color-black background-white">
    <div class="grid-full">
      <h1>Your browser is not supported</h1>
      <p>This page works with a wide range of browsers, preferably ones that are made/updated in this decennium.</p>
      <p>Please upgrade to a modern, fully supported browser.</p>
    </div>
  </div>
  <div class="row ie color-black background-white">
    <div class="grid-full">
      {{>hbs "./src/pages/operations/sv/operations.hbs"}}
    </div>
  </div>
</div>
