---
layout: coworker

name: You
email: yourname@iteam.se
job: Awesome at something

page-color: black
top-color:

texts:
  about:
    -
      title: Fork this page to apply for a job in the most epic way!
      position: left
      content: "Go to <a href='http://github.com/iteam1337/iteam.se/tree/master/src/pages/contact/you'>Github</a> and fork this page to be about you - how you have used tech to do awesome things. Maybe you have a blog, hopefully a Github page etc. We love code so please make sure to include some links to anything you are proud to be mother/father to. When we approve your pull request you will be hired!"
    -
      title: Tech stack
      position: right
      content: "List your tech stack here, can be Javascript, Python, Erlang or maybe Agile methodologies or something else - Turbo Pascal?"
    -
      title: Background
      position: right
      content: "How did you end up at Iteam? If you did go to a famous college or learned everything in your mom's garage is irrelevant but the story is interesting here!"
    -
      title: Superkraft
      position: right
      content: "What's your bragging right when going to tech meetups?"
---
