---
subtitle: Rådgivning
icon: ion-ios7-lightbulb-outline
description: Vi agerar rådgivare i den takt och omfattning som projekten behöver. Vi erbjuder en förstudie, en Teknisk Ledare som driver projektet och vi kan ta fram ett proof-of-koncept.
layout: default.hbs
text: 
  type: text
  mdtext: text
---

{{> text text}}

{{#pages category=subtitle}}
  {{#each data}}
    <a href="/case/{{url}}">{{title}}</a>
  {{/each}}
{{/pages}}