if typeof text !== 'object'
  .row
    .grid-full
      p= text
else
  - var last = text.length - 1

  .row.flex
    .grid-full
      .row.flex
        for v,i in text
          - var klass = (i === last) ? 'last' : ''
          .grid(class=klass)
            h3= v.title
            p= v.text