.box.career {
  > .grid-full { padding: $margin 0; }

  .text {
    @extend %inline-block--top;
    box-sizing: border-box;

    padding: 0 20px 20px 20px;
    width: 50%;

    h4:first-of-type { margin-top: 0; }

    ul {
      list-style-type: none;

      li {
        box-sizing: border-box;

        padding: $margin / 2 $margin / 3;
        vertical-align: top;

        &:not(:last-child) {
          margin-bottom: $margin / 3;
        }
      }
    }

    &:last-child {
      padding: 20px;
      width: 100%;

      ul {
        display: flex;

        width: 100%;

        li {
          width: 50%;
        }
      }
    }

    img { max-width: 100%; }

    p {
      margin-bottom: 0;
    }

    @include mobile {
      padding: 0 $mobile-padding;
      width: 100%;
    }
  }
}

.box.text.job-ad {
  a {
    color: $color--black;
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    list-style: square;
    margin-bottom: 40px;
    margin-left: 25px;

    li {
      padding-left: 10px;
    }

    li:not(:last-child) { margin-bottom: 5px }
  }
}
