.row.career {
  > .grid-full { padding: $margin 0; }

  .text {
    @extend %inline-block--top;
    @include box-sizing();

    padding: 0 20px 20px 20px;
    width: 50%;

    h4:first-of-type { margin-top: 0; }

    ul {
      list-style-type: none;
      font-size: 1.5rem;

      li {
        @include box-sizing();

        padding: $margin / 2 $margin / 3;
        vertical-align: top;

        &:not(:last-child) {
          margin-bottom: $margin / 3;
        }
      }
    }

    &:last-child {
      padding: 20px;
      width: 100%;

      ul {
        @include flex();

        width: 100%;

        li {
          width: 50%;
        }
      }
    }

    img { max-width: 100%; }

    p {
      margin-bottom: 0;
    }

    @include mobile() {
      padding: 0 $mobile-padding;
      width: 100%;
    }
  }
}
