/**
 * Coworkers
 * -----------------------------
 * List all the coworkers
 * 
 */

// Block
.coworkers {
}

// Element - Coworkers in list form
.coworkers__list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;

    &:nth-child(n+3) {
      margin-top: 20px;
    }

    @include mobile() {
      width: 100%;

      margin-top: $margin / 2;
    }
  }
}

// Element - Coworkers content wrap
.coworkers__content {
  display: table-row;
}

// Element - Common for image and name
.coworkers__image,
.coworkers__name {
  display: table-cell;
}

// Element - Image of coworker (grabbed from Gravatar)
.coworkers__image {
  margin-right: 20px;
  max-height: 100px;
}

// Element - Name and job position
.coworkers__name {
  vertical-align: middle;
}