/**
 * Coworkers
 * -----------------------------
 * List all the coworkers
 *
 */

// Block

// Element - Coworkers in list form
.coworkers__list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 33%;

    &:nth-child(n+4) {
      margin-top: $margin / 4;
    }

    @include mobile() {
      width: 100%;

      margin-top: $margin / 2;
    }
  }
}

// Element - Coworkers content wrap
.coworkers__content {
  text-align: center;
}

// Element - Common for image and name
.coworkers__image,
.coworkers__name {
}

// Element - Image of coworker (grabbed from Gravatar)
.coworkers__image {
  border-radius: 100%;
  display: block;
  margin: 0 auto $margin / 5;
  max-height: 150px;
}

// Element - Name and job position
.coworkers__name {
  color: $color--black;
  vertical-align: middle;
}
