.coworker {
  .image {
    background: $color--black;

    &__title {
      @mixin font-size {
        font-size: 200%;
      }
      @mixin line-height {
        line-height: 125%;
      }
      @mixin sizes {
        word-break: normal;
        overflow: hidden;
        max-width: 100%;
        white-space: pre-line;
      }
      h1 {
        &, small {
          @include tablet {
            @include line-height;
          }
          @include mobile-landscape {
            @include line-height;
          }
          @include mobile {
            @include line-height;
          }
        }
        @include tablet {
          @include font-size;
        }
        @include mobile-landscape {
          @include font-size;
        }
        @include mobile {
          padding: 0;
          margin: 0;
          @include font-size;
        }
      }
      &, h1 {

        @include tablet {
          @include sizes;
        }
        @include mobile-landscape {
          @include sizes;
        }
        @include mobile {
          @include sizes;
        }
      }
    }

  }
  .instagram {
    list-style: 0;
    width: 100%;
  }

  .github {
    $icon-width: 15%;
    $href-width: 20%;

    background: #333;
    color: #fff;
    padding: $margin 0;

    @include mobile {
      padding: $margin / 2 $margin / 5;
    }

    .grid-full {
      display: flex;

      i {
        position: absolute;
        bottom: -120px;
        right: -120px;

        font-size: 50rem;

        @include mobile {
          margin-bottom: $margin / 5;
          width: 100%;
        }
      }

      ul {
        width: 100% - $icon-width;

        @include mobile {
          width: 100%;
        }

        li {
          display: flex;

          &:not(:last-child) { margin-bottom: 10px; }

          a, p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include mobile {
              width: 100%;
            }
          }

          a {
            width: $href-width;
          }

          p {
            width: 70%;
          }
        }
      }
    }
  }

  .box.flex,
  .instagram-content {
    justify-content: center;
  }

  .image {
    &.partial {
      @include mobile {
        padding: 20px;
      }
    }
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 400px;
    a {
      color: #fff;
    }
  }

  .box.social-media {
    padding-top: $margin;

    a {
      transition: all;
      border: none;

      &:hover {
        color: $color__accent;
      }

      &:not(:last-child) {
        display: inline-block;
        margin-right: 10px;
      }
    }

    i {
      color: $color--link;
      font-size: 4rem;
    }
  }

  .partial .boxes {
      padding-bottom: $margin;
  }

  .boxes {
    display: block;
    width: 100%;
    padding-top: 0;
    .grid-full {
      /* padding: 0 20px; */
      @include mobile {
        padding: 0;
      }
    }

    &,
    & * {
      box-sizing: border-box;
    }

    &:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }
    a {
      color: $color--black;
      border-bottom-color: $color--black;
    }
  }

  .box-position {
    @extend %inline-block--top;

    word-break: break-word;

    p {
      margin:10px 0;
    }

    &.left,
    &.right {
      margin: 0;
      width: 50%;
    }
    &.left {
      float: left;
      padding-right: $margin--fifth;
    }
    &.right {
      float: right;
    }
  }


  @include mobile {
    .box-position {
      &.left,
      &.right {
        width: 100%;
        float: none;
      }
    }
  }
}
