.coworker {
  .instagram {
    list-style: 0;
    width: 100%;
  }

  .github {
    $icon-width: 15%;
    $href-width: 20%;

    background: #333;
    color: #fff;
    padding: $margin 0;

    @include mobile() {
      padding: $margin / 2 $margin / 5;
    }

    .grid-full {
      @include flex();

      i {
        @include position(bottom,right,-120px,-120px);

        font-size: 50rem;

        @include mobile() {
          margin-bottom: $margin / 5;
          width: 100%;
        }
      }

      ul {
        width: 100% - $icon-width;

        @include mobile() {
          width: 100%;
        }

        li {
          @include flex();

          &:not(:last-child) { margin-bottom: 10px; }

          a {
            @include text-overflow();

            width: $href-width;

            @include mobile() {
              width: 100%;
            }
          }

          p {
            @include text-overflow();

            width: 70%;

            @include mobile() {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .row.flex,
  .instagram-content {
    justify-content: center;
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 400px;
    a {
      color: #fff;
    }
  }

  .row.social-media {
    a {
      @include transition(all);

      &:hover {
        color: $color__accent;
      }

      &:not(:last-child) {
        display: inline-block;
        margin-right: 10px;
      }
    }

    i {
      color: $color--link;
      font-size: 4rem;
    }
  }

  .boxes {
    display: block;
    width: 100%;

    &,
    & * {
      @include box-sizing;
    }

    &:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }
  }

  .box-position {
    @extend %inline-block--top;

    word-break: break-word;

    p {
      margin:10px 0;
    }

    &.left,
    &.right {
      margin: 0;
      width: 50%;
    }
    &.left {
      float: left;
      padding-right: $margin--fifth;
    }
    &.right {
      float: right;
    }
  }


  @include mobile() {
    .box-position {
      &.left,
      &.right {
        width: 100%;
        float: none;
      }
    }
  }
}
