.remote-assistance {
  .row.text {
    img {
      max-width: 40%;
      height: auto;
      display: inline-block;
      max-height: 50px;
    }
    .left {
      width: auto;
    }
  }
  span {
    display: inline-block;
    vertical-align: baseline;
  }
}
