/**
 * Partial Services
 * -----------------------------
 *
 *
 */

.services {
  &.narrow {
    padding: 0 0 $margin / 2;
  }
}

// Element - Services list
.services__list {
  @include flex();

  li {
    @extend %inline-block--top;
    @include box-sizing();

    width: 50%;

    &:nth-child(odd) { padding-right: 2%; }
    &:nth-child(n+3) { margin-top: $margin / 3; }

    i {
      color: $color__accent;
      display: block;
      font-size: 5rem;
      margin-bottom: $margin / 2;
    }

    a {
      color: $color__font;
      font-weight: 600;
    }
  }
}

.cases-wrap {
  padding-bottom: 60px;

  ul {
    @include flex();

    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    width:100%;

    li {
      @include mobile() {
        width: 100%;
      }

      @include transition(opacity, 200ms, ease-in-out);

      background: $light;
      color: inherit;
      opacity: 1;
      position: relative;
      text-align: center;
      margin: 5px;
      flex-grow: 1;

      &.visually-hidden { opacity: 0; }
      &.hidden { display: none; }

      a {
        @include box-sizing();
        @include size(100%);
        @include transition(background, 200ms, ease-in-out);

        background: inherit;
        color: inherit;
        display: block;
        font-size: 2rem;
        font-weight: 600;
        padding: 20px;

        &:hover {
          background: darken($light, 30%);
        }
      }
    }
  }
}
