/**
 * team
 * -----------------------------
 * List all the team
 *
 */

// Block
.team {
  &__team {
    flex-direction: row;
    @include mobile {
      flex-direction: row;
    }
  }
  padding-bottom: 0 !important;
  // Element - team in list form
  &__list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
      @include desktop {
        width: 25%;
      }
      @include tablet-landscape {
        width: 33.3333333%;
        width: calc(100%/3);
      }
      @include tablet {
        width: 33.3333333%;
        width: calc(100%/3);
      }
      @include mobile-landscape {
        width: 33.3333333%;
        width: calc(100%/3);
      }
      @include mobile {
        width: 50%;
      }
    }
  }
}
