.row.footer {
  background: $footer-bg;
  color: rgb(191,202,210);
  font-size: 1.5rem;
  padding: $margin 0;
  text-align: center;

  @include mobile() {
    padding: $margin 20px;
  }

  .footer-logo {
    margin-top: 50px;
    display: block;
    width: 100%;
  }

  .grid-full {
    width: 970px;


    @include mobile() {
      width: 100%;
    }


    > div {
      @include box-sizing();

      &.block {
        box-sizing: border-box;
        width: 25%;
        color: white;
      }

      display: inline-block;
      text-align: left;
      padding-right: 20px;
      vertical-align: top;

      h3 {
        font-size:2rem;
        padding: 0;
        margin: 0 0 20px;
      }

      &.social {
        // width: 39%;

        li {
          display: inline-block;
          margin-right: 20px;
        }
      }

      @include mobile() {
        &.block {
          padding: 0;
          text-align: center;
          width: 100%;
          margin-bottom: 20px;
        }
        h4 {
          line-height: 1.75em;
          padding: .5em;
        }
        .date {
          display: none;
        }
      }
    }
  }

  a {
    &,
    i {
      color: #fff;
    }
    i {
      font-size: 4rem;
    }
  }
  .calendar {
    h4, time, p {
      line-height: 2rem;
    }
    h4, time {
      margin: 0;
      padding: 0;
    }
    time {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 20px;
    }
    article {
      margin-bottom: 10px; 
    }
  }
}