---
subtitle: Contact
menu-order: 3
menu-title: Contact

body-class:
page-color: blue

layout: default

top-content:
  type: hero
  extra-classes: padding-top
  color: white
  background-color: blue
  background-image: /content/images/section-top/medarbetare_multiply.jpg
  mdtext: src/pages/contact/main-block

listing-options:
  route: "./src/pages/contact/"
  start: ""
  type: "coworker"
  size: 400
---
{{>hero top-content}}

<div class="row partial team color-white background-black">
  <div class="grid-fullscreen">
    <ul class="team__list">
      {{#getPages listing-options}}
        {{#each data}}
          <li>{{> coworker this}}</li>
        {{/each}}
      {{/getPages}}
    </ul>
  </div>
</div>
