doctype html
html(lang="sv")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Iteam
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")

    link(rel="stylesheet", href="/css/iteam.css", type="text/css")
  body
    include ../jade_includes/navbar
    block content

