// Case start page
.row.cases {
  margin-top: @margin;

  .grid-full {
    min-width: @max-width
  }

  ul {
    .flex();

    width:100%;

    li {
      .box-sizing();
      
      padding:@margin;
      position: relative;
      text-align: center;
      width:32%;

      &:nth-child(3n-1) {
        margin:0 2%;
      }

      &:nth-child(n+4) {
        margin-top: @margin;
      }

      a {
        margin-top: @margin / 2;
        padding: 5px 10px;
      }
    }
  }
}

// Individual case pages
.case-title {
  font-size:60px;
  text-align:center;
  text-transform:uppercase;
}

.team .flex {
  justify-content:center;

  .grid-quarter {
    padding:0 2% 20px 0;

    .name {
      color:#999;
      font-family:@sans-serif;
      font-size:1.5rem;
      text-align:center;
      text-transform:uppercase;
    }
  }
}

.row.case-navigation {
  @icon-margin: 10px;

  background: rgb(19,24,25);
  color: #fff;
  padding: @margin 0;

  a {
    color: #fff;
  }

  i {
    margin-right: 10px;
  }

  .flex > div {
    width: 33%;

    &.cases {
      text-align: center; 

      i { margin-right: @icon-margin; }
    }

    &.next {
      text-align: right;
      i { margin-left: @icon-margin; }
    }
  }
}

.row.contact {
  li {
    .box-sizing();
    .transition(background, 300ms, ease-in-out);
    
    cursor: pointer;
    display: inline-block;
    font-size: 2.5rem;
    padding: @margin * 2;
    position: relative;
    text-align: center;
    vertical-align: top;
    width:50%;
    will-change: background;

    i {
      display: block;
      font-size: 6rem;
      position: relative;
      top: -10px;
    }

    &.project {
      background: fade(#ffbd09, 20%);

      &:hover { background: fade(#ffbd09, 60%); }
    }

    &.career {
      background: fade(#0088ff, 20%);

      &:hover { background: fade(#0088ff, 60%); }
    }
  }
}