// Case start page
// 

.filters-list {
  .user-select();

  font-size: 1.5rem;
  padding: @margin 0;
  text-align: right;

  li {
    .transition(background, 200ms, ease-in-out);

    background: @light;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;

    &:not(:last-child) { margin-right: 20px; }

    &:hover, &.active { background: @accent; }
  }
}

.row.cases {
  margin: 0 0 @margin;

  .grid-full {
    min-width: @max-width
  }

  ul {
    .flex();

    width:100%;

    li {
      .box-sizing();
      .size(300px);
      .transition(opacity, 300ms, ease-in-out);

      background: @light;
      color: inherit;
      margin-bottom: @margin;
      opacity: 1;
      padding: 20px;
      position: relative;
      text-align: center;
      width:32%;

      &.visually-hidden { opacity: 0; }
      &.hidden { display: none; }

      &:nth-child(3n-1) { margin:0 2%; }

      a {
        color:inherit;
        font-size: 2rem;
        font-weight: 600;
        margin-top: @margin / 2;
        padding: 5px 10px;
      }
    }
  }
}

// Individual case pages
.case-title {
  font-size:60px;
  text-align:center;
  text-transform:uppercase;
}

.team .flex {
  justify-content:center;

  .grid-quarter {
    padding:0 2% 20px 0;

    .name {
      color:#999;
      font-family:@sans-serif;
      font-size:1.5rem;
      text-align:center;
      text-transform:uppercase;
    }
  }
}