.row.coworkers {
  background: @light;
  padding: @margin 0;

  li {
    .box-sizing();
    
    background: #fff;
    border:1px solid darken(@light, 5%);
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 49%;

    @media @mobile {
      width:100%;

      margin-top: @margin / 2;
    }

    &:nth-child(even) { margin-left: 2%; }
    &:nth-child(n+3) { margin-top: @margin / 2; }

    img {
      line-height: 1;
      width: 100%;
    }

    div {
      .box-sizing();

      padding: @margin / 2;
      vertical-align:top;

      h3 {
        font-size: 2rem;
        margin: 0;
        padding: 0;

        span {
          font-weight: 400;
        }
      }

      .job {
        color: @accent;
        margin: @margin / 6 0 @margin / 2;
        position: relative;

        &:after {
          .position(bottom, left, -10px, 0);
          .size(50px, 3px);
          
          background: @accent;
          content: "";
          display: block;
        }
      }
    }
  }
}