.row.coworkers {
  background: @light;
  padding: @margin 0;

  li {
    .box-sizing();
    
    display: inline-block;
    line-height: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 33.3%;

    @media @mobile {
      width:100%;

      margin-top: @margin / 2;
    }

    img {
      line-height: 0;
      width: 100%;
    }
    
    &:hover div {
      opacity: 1;
    }

    .outer {
      .position(top, left, 0, 0, absolute, true);
      .transition(opacity, 300ms, ease-in-out);
      
      background:rgba(33,33,33,0.8);
      opacity: 0;
      vertical-align:top;

      .inner {
        .box-sizing();
        .center(y);
  
        padding: @margin / 2;
        text-align: center;
        right: 0;

        h3 {
          color: #fff;
          font-size: 2rem;
          line-height: 1;
          margin: 0 0 20px;
          padding: 0;

          span {
            font-weight: 400;
          }
        }

        .job {
          color: @accent;
          margin: @margin / 6 0 @margin / 2;
          position: relative;

          &:after {
            @size: 50px;

            .position(top, left, -20px, 50%);
            .size(@size, 3px);
            
            background: @accent;
            content: "";
            display: block;
            margin-left: -(@size / 2);
          }
        }
      }
    }
  }
}