.row.coworkers {
  li {
    margin: @margin 0;

    img, div {
      display: inline-block;
      padding-left: @margin;
      vertical-align:top;
    }

    a {
      display: block;
      font-size: 3rem;
      vertical-align: top;
    }

    p {
    }
  }
}