.coworker {  
  .instagram {
    list-style: 0;
    padding: 0;
    width: 100%;
  }

  .github {
    @icon-width: 15%;
    @href-width: 20%;

    padding: @margin 0;

    @media @mobile {
      padding: @margin / 2 @margin / 5;
    }

    .grid-full {
      .flex();

      i {
        font-size:10rem;
        width:@icon-width;

        @media @mobile {
          text-align: center;
          margin-bottom: @margin / 5;
          width:100%;
        }
      }

      ul {
        width:100% - @icon-width;

        @media @mobile {
          width: 100%;
        }

        li {
          .flex();

          &:not(:last-child) { margin-bottom: 10px; }

          a {
            .text-overflow();

            width:@href-width;

            @media @mobile {
              width:100%;
            }
          }

          p {
            width:100% - @href-width;
            
            @media @mobile {
              width:100%;
            }        
          }
        }
      }
    }
  }

  .row.flex,
  .instagram-content {
    justify-content: center;
  }

  .boxes {
    display: block;
    padding: @margin/2 0;
    width: 100%;
    
    h3 {
      margin:0 0 10px;
      padding:0;
    }

    &,
    & * {
      box-sizing: border-box;
    }
    &:after {
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }

  .box-position {
    padding: 10px;
    word-break: break-word;
    display: inline-block;
    vertical-align: top;

    &.left,
    &.right {
      width: 50%;
    }
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }

  @media @mobile {
    .box-position {
      &.left,
      &.right {
        width: 100%;
        float: none;
      }
    }

  }

}