.row.footer {
  background: @footer-bg;
  color: rgb(191,202,210);
  font-size: 1.5rem;
  padding: @margin 0;
  text-align: center;

  @media @mobile {
    padding: @margin 20px;
  }

  .footer-logo {
    margin-top: 50px;
    display: block;
    width: 100%;
  }

  .grid-full {
    width: 970px;

    @media @mobile {
      width: 100%;
    }


    > div {
      .box-sizing();

      &.block {
        box-sizing: border-box;
        width: 25%;
        color: white;
      }

      display: inline-block;
      text-align: left;
      padding-right: 20px;
      vertical-align: top;

      h3 {
        padding: 0;
        margin: 0 0 20px;
      }

      // &.address {
      //   width:25%;
      // }

      &.social {
        // width: 39%;

        li {
          display: inline-block;
          margin-right: 20px;
        }
      }

      // &.blog {
      //   width: 35%;

      //   li {
      //     margin-bottom: 20px;
      //   }

      //   p {
      //     margin-bottom: 0;
      //   }

      //   .date {
      //     color: rgb(112,123,132);
      //     font-style: italic;
      //   }
      // }

      @media @mobile {
        &.address,
        &.social,
        &.blog {
          padding: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  // li {
  //   &.phone {
  //     margin-top: 20px;
  //   }

  //   &.phone,
  //   &.mail a {
  //     color: @accent;
  //   }

  // }

  a {
    // &.facebook { color: @facebook; }
    // &.twitter { color: @twitter; }
    // &.instagram { color: rgb(225,214,197); }

    &,
    i {
      color: #fff;
    }
    i {
      font-size: 4rem;
    }
  }
  .calendar {
    h4, time, p {
      line-height: 2rem;
    }
    h4, time {
      margin: 0;
      padding: 0;
    }
    time {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 20px;
    }
  }
}