.row.footer {
  margin: @margin*2 0;
  align-items: flex-end;
  text-align: center;

  li {
    display: inline-block;

    &:not(:last-child) { margin-right: @margin; }
  }

  .love {
    font-size: 1.5rem;

    i {
      color: red;
    }
  }
}