@font-face {
  font-family: "AvantGarde ExtraLight";
  src: url("../content/fonts/lte52009.ttf") format("truetype");
}

/* General
--------------------------------------------------------*/
html {
  font-size:62.5%;
}

body {
  background:@bg;
  color:@color;
  font-family:@body-font;
  font-size:1.5rem;
  font-weight:400;
  letter-spacing: 0.025em;
  line-height:1.75em;
  margin:0;
}

a {
  color:@accent;
  text-decoration:none;

  img { border:none; outline: none; }
}

p {
  font-family:@body-font;
  font-size:1.5rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 2;
  margin:@margin / 2 0 @margin;

  &:first-child { margin-top: 0; }
  &:last-child { margin: 0; }
}

/* Fancyness
--------------------------------------------------------*/
::-moz-selection {
  background-color: @accent;
  color: #fff;
}

::selection {
  background-color: @accent;
  color: #fff;
}

/* Headings
--------------------------------------------------------*/
h1 {
  font-family:@header-font;
}
h2,h3 {
  color: @a;
  font-family:@header-font;
  font-size: 4.5rem;
  font-weight:400;
  text-transform:uppercase;
}
h3 {
  display: inline-block;
  font-size: 3rem;
  margin:0 auto @margin / 2;
  padding-bottom: @margin / 4;
}

/* Lists
--------------------------------------------------------*/
ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* Base
--------------------------------------------------------*/
img {
  max-width:100%;
}

.flex { .flex(); }

.rows > .row {
  padding:@margin 0;

  @media @mobile { padding:@margin / 2; }
}

.row {
  position: relative;

  @media @mobile {
    &.text { padding:40px; }
  }

  .grid {
    flex:1 1;

    &:not(.last) {
      margin-right:2%;
    }
  }

  .grid-full {
    margin:0 auto;
    max-width:@max-width;
  }

  .grid-half,
  .grid-quarter {
    .box-sizing();

    align-self:center;

    &.top { align-self:flex-start; }
  }

  .grid-half {
    width:50%;

    @media @mobile { width:100%; }
    &.text { padding:0 @margin; }
  }

  .grid-quarter {
    max-width:25%;

    @media @mobile { max-width:100%; }
  }
  .align-top {
    align-self: flex-start;
  }

  &.divide {
    &:before {
      .center(x, top, 0);
      .size(100px, 3px);

      background: @accent;
      content:"";
      display: block;
    }
  }
}

.mosaic [class^="grid-"] { line-height:0; }

.hidden {
  display: none;
}