@font-face {
  font-family: "AvantGarde ExtraLight";
  src: url("../content/fonts/lte52009.ttf") format("truetype");
}

/* General
--------------------------------------------------------*/
html {
  font-size:62.5%;
}

body {
  background:@bg;
  color:@color;
  font-family:@sans-serif;
  font-size:2rem;
  font-weight:400;
  line-height:1.75em;
  margin:0;
}

a {
  color:@accent;
  text-decoration:none;
}

p {
  font-family:@sans-serif;
  font-size:1.5rem;
  margin:@margin / 2 0 @margin;

  &:first-child { margin-top: 0; }
  &:last-child { margin: 0; }
}

/* Headings
--------------------------------------------------------*/
h1 {
  font-family: @h1;
}
h2,h3 {
  color: @a;
  font-family:@sans-serif;
  font-weight:600;
  text-transform:uppercase;
}
h3 {
  display: inline-block;
  font-family:@sans-serif;
  margin:0 auto @margin / 2;
  padding-bottom: @margin / 4;
}

/* Lists
--------------------------------------------------------*/
ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* Base
--------------------------------------------------------*/
img {
  max-width:100%;
}

.rows > .row {
  padding:@margin 0;

  @media @mobile { padding:@margin / 2; }
}

.row {
  &.flex { .flex(); }

  @media @mobile {
    &.text { padding:40px; }
  }

  .grid {
    flex:1 1;

    &:not(.last) {
      margin-right:2%;
    }
  }

  .grid-full {
    margin:0 auto;
    max-width:@max-width;
  }

  .grid-half,
  .grid-quarter {
    .box-sizing();

    align-self:center;

    &.top { align-self:flex-start; }
  }

  .grid-half {
    width:50%;

    @media @mobile { width:100%; }
    &.text { padding:0 @margin; }
  }

  .grid-quarter {
    max-width:25%;

    @media @mobile { max-width:100%; }
  }
  .align-top {
    align-self: flex-start;
  }
}

.mosaic [class^="grid-"] { line-height:0; }

// cols
.col-box {
  padding: 10px;
  float: left;
  margin: 0;
  word-break: break-word;
}

// heard of repeaters
.cols-2, .cols-3, .cols-4, .cols-5, .cols-6 {
  vertical-align: top;
  display: inline-block;
  > * {
    box-sizing: border-box;
  }
}

.cols-2 > * { width:50%;max-width:50%; }
.cols-3 > * { width:33%;max-width:33%; }
.cols-4 > * { width:25%;max-width:25%; }
.cols-5 > * { width:20%;max-width:20%; }
.cols-6 > * { width:16%;max-width:16%; }
