.flex() {
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;

  flex-wrap:wrap;

  @media @mobile { flex-direction:column; }
}

.animation(@animation, @delay:0s, @timing) {
  .prefix('animation', @animation);
  .prefix('animation-delay', @delay);
  .prefix('animation-timing-function', @timing)
}