.flex() {
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;

  .prefix('flex-wrap', wrap);

  @media @mobile {
    .prefix('flex-direction', 'column');
  }
}

.justify-content(@justify: center) {
  .prefix('justify-content', @justify);
}

.animation(@animation, @delay:0s, @timing) {
  .prefix('animation', @animation);
  .prefix('animation-delay', @delay);
  .prefix('animation-timing-function', @timing)
}