.row.services {
  margin: @margin 0;

  li {
    .box-sizing();
    
    display: inline-block;
    padding:0 20px;
    text-align: center;
    vertical-align: top;
    width: 49%;

    &:nth-child(n+3) { margin-top: @margin; }

    i {
      display: block;
      font-size: 6rem;
      margin-bottom: @margin / 2;
    }

    a { font-weight: 600; }
  }
}