.row.services {
  margin: @margin 0 @margin * 2;

  li {
    display: inline-block;
    text-align: center;
    width: 49%;

    &:nth-child(n+3) { margin-top: @margin; }

    i {
      font-size: 6rem;
    }

    a {
      font-weight: 600;
    }
  }
}