.row.team {
  margin: @margin 0;

  ul {
    .flex();

    justify-content: center;
  }

  li {
    .box-sizing();

    display: inline-block;
    padding-right: @margin;
    text-align: center;
    width: 25%;

    &:nth-child(4n) { padding-right: 0; }
    &:nth-child(n+5) { margin-top: @margin; }

    img {
      display: block;
      margin: 0 auto @margin / 2;
    }
  }
}