@img-width: 40%;

.row.text {
  img {
    &.left {
      float: left;
      margin-right: @margin;
      max-width: @img-width;
    }

    &.right {
      float: right;
      margin-left: @margin;
      max-width: @img-width;
    }
  } 
}