@import "../../bower_components/mrwhite-less-mixins/mixins";
@import "../../bower_components/ionicons/less/ionicons";

/* COLORS
--------------------------------------------------------*/
@color: #7F8C8D;
@accent: #ffbd09;
@bg: #fff;
@light: rgb(237,237,237);
@quote: rgb(153, 153, 153);
@a: #686A6B;

@input-bg: rgb(234,241,244);
@footer-bg: rgba(26,29,32, 0.9);

/* Brand colors
--------------------------------------------------------*/
@facebook: #3B5998;
@twitter: #55ACEE;

/* FONTS
--------------------------------------------------------*/

@h1:"AvantGarde ExtraLight","Tex Gyre Adventor Regular",Franklin Gothic Book,Arial,Sans-Serif;
@sans-serif:'Raleway', sans-serif;
@serif: 'Lora', serif;
@icons: @ionicons-font-family;

@bold: 600;

/* SIZES
--------------------------------------------------------*/
@max-width:970px;
@margin: 60px;
@mobile-padding: 20px;

