@color: #787878;
@quote: rgb(153, 153, 153);

@h1:"AvantGarde ExtraLight","Tex Gyre Adventor Regular",Franklin Gothic Book,Arial,Sans-Serif;
@sans-serif:'Karla', sans-serif;

@max-width:970px;
@margin: 40px;

@bg: #fff;
@light: rgb(237,237,237);
@accent: #ffbd09;