@font-face{font-family:"AvantGarde ExtraLight";src:url("/content/fonts/lte52009.ttf") format("truetype")}
@font-face{font-family:"Tex Gyre Adventor Regular";src:url("/content/fonts/texgyreadventor-regular-webfont.eot");src:url("/content/fonts/texgyreadventor-regular-webfont.eot?#iefix") format('embedded-opentype'),url("/content/fonts/texgyreadventor-regular-webfont.woff") format('woff'),url("/content/fonts/texgyreadventor-regular-webfont.ttf") format('truetype'),url("/content/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format('svg');font-weight:normal;font-style:normal}

@color: rgb(34,34,34);
@quote: rgb(153, 153, 153);

@serif:'Palatino';
@sans-serif:'AvantGarde ExtraLight','Tex Gyre Adventor Regular',Franklin Gothic Book,Arial,Sans-Serif;

@max-width:970px;
@margin: 40px;