.row.mosaic {
  @include justify-content();
  @include prefix('flex-wrap',  nowrap);

  max-height: 400px;
  padding:0;

  @include mobile() {
    max-height: 100%;
  }

  [class^="grid-"] { line-height:0; }
}