$font-color: #ccc;

.selected-cases {
  background-size: cover;

  > ul > li {
    @include box-sizing();
    @include size(50%, 500px);

    background-size:auto 100%;
    background-position:center center;
    display: inline-block;
    overflow:hidden;
    position: relative;
    vertical-align: top;
    
    &:hover {
      .background {
        @include transform(translateX(-10px));
      }

      a {
        background: rgba(0,0,0,0.5);

        article {
          @include transform(translateX(0) translateY(-50%));
        }
      }
    }
    &:nth-child(odd) { border-right:1px solid #fff; }
    &:nth-child(n+3) { border-top: 1px solid #fff; }

    @include mobile() {
      width: 100%;

      &:nth-child(odd) { border-right:none; }

      border-top: 1px solid #fff;

      &:hover {
        .background { @include transform(translateX(0)); }
      }
    }

    h3 {
      margin-bottom: 20px;
      padding-bottom: 0;
    }

    .background {
      @include size(120%, 100%);
      @include transition(transform, 300ms, ease-in-out);

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    a {
      @include position(top,left,0,0,absolute,true);
      @include transition(background, 300ms, ease-in-out);

      background: rgba(0,0,0,0.7);

      article {
        $height: 300px;
        
        @include box-sizing();
        @include transform(translateX(-10px) translateY(-50%));
        @include transition(transform, 300ms, ease-in-out);
        @include position(top,left,50%,50%);
        
        margin-left:-25%;
        width:50%;

        @include mobile() {
          @include transform(translateX(0) translateY(-50%));
          
          left:0;
          margin-left:0;
          padding:0 $margin / 5;
          width:100%;
        }

        h3 {
          color: $font-color;
          display: block;
          font-size: 3rem;
        }

        p {
          border-top: 1px solid #666;
          border-bottom: 1px solid #666;
          color: $font-color;
          font-size:1.5rem;
          margin: $margin / 5 0;
          padding: $margin / 5 0;
        }

        .icons li {
          display: inline-block;
          color: $font-color;
          font-size: 3rem;

          &:not(:last-child) { margin-right: 20px; }
        }
      }
    }
  }
}