$slider-height: 600px;

.slider {
  background: $light;
  padding: $margin 0;
  text-align: center;

  > .grid-full > ul {
    @include size(100%, $slider-height);

    padding: 0;
    display: block;
    overflow: hidden;
    position: relative;

    * {
      @include user-select(none);
    }
    
    input { display: none; }

    input:checked + li {
      @include opacity(100);
      @include transform(scale(1));
      @include transition(opacity, 1s, ease-in-out);
    }

    input#img-0:checked ~ .nav-dots label#img-dot-0,
    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3,
    input#img-4:checked ~ .nav-dots label#img-dot-4,
    input#img-5:checked ~ .nav-dots label#img-dot-5 {
      background: rgba(255, 255, 255, 0.8);
    }

    > li {
      @include opacity(0);
      @include position(top,left,0,0);
      @include size(100%, $slider-height);
      @include transform(scale(0));
      @include transition(all, 300ms, ease-in-out);

      display: block;

      .slide {
        height: $slider-height;

        @include mobile() {
          display:block;

          img {
            width:100%;
          }          
        }

        .text {
          flex-shrink:100;
          padding:100px;

          @include mobile() {
            padding:20px 40px 0;
          }
        }

        .title {
          @include center(both);

          color:#fff;
          font-size:4em;
          font-family:'Helvetica Neue', sans-serif;
          font-weight:100;
        }

        img {
          width: 100%;
        }
      }
    }

    .nav-dots {
      @include center(x, bottom, 20px);
      @include size(100%, 11px);

      display: block;
      text-align: center;
      top: auto;
      opacity:1;
    
      .nav-dot {
        @include border-radius(100%);
        @include size(11px);
        @include transition(background, 200ms, ease);

        background: rgba(0, 0, 0, 0.6);
        display: inline-block;
        margin: 0 4px;
        position: relative;
        top: -5px;

        &:hover {
          background: rgba(255, 255, 255, 0.8);
          cursor: pointer;
        }
      }
    }
  }
}

.nav label {
  $size: 60px;

  @include border-radius($size);
  @include transform(translateX(30px) translateY(-50%));
  @include size($size);
  @include position(top,left,50%,0);
  @include transition(all, 200ms, ease);

  position: absolute;
  z-index: 9;
  cursor: pointer;
  background: fade(#333, 90%);
  color: #FFF;
  font-size: 3rem;
  line-height: 380px;
  text-align: center;
  will-change: height, width;

  &:hover {
    @include size($size + 10);
  }

  &.next {
    @include transform(translateX($max-width - $size - 30px) translateY(-50%));
  }

  i {
    @include center(both);
  }
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

input:checked + .slide-container .nav label { display: block; }