$circle: 50px;

.row.stats {
  padding: $margin * 2 0;
  background-size: cover;
  text-align: center;
  
  p {
    color: $color;
    margin: 0 auto;
    max-width: 50%;
  }

  ul {
    margin-top: $margin;
  }

  li {
    display: inline-block;
    margin-right: 2%;
    text-align: center;
    width: 32%;

    &:nth-child(3n) { margin-right: 0; }
    &:nth-child(n+4) { margin-top: $margin; }
  }

  li {
    color:inherit;
    display: inline-block;
    text-align: center;

    i {
      @include border-radius($circle);
      @include size($circle);
      
      background:#fff;
      border-color: inherit;
      color: rgb(255,53,42);
      display: block;
      font-size: 6rem;
      margin: 0 auto $margin / 3;
      padding:20px;

      &:before {
        position: relative;
        top:-4px;
      }
    }

    .number {
      font-size: 2rem;
      font-weight: 600;
    }

    .text { font-size:1.5rem; }
  }
}