.row.tweet {
  color: inherit;
  padding: $margin 0;
  text-align: center;

  @include mobile() {
    padding: $margin 20px;
  }

  i {
    color: $twitter;
    display: block;
    font-size: 4rem;
    margin-bottom: $margin / 2;  
  }
}