---
layout: case.hbs
navigation: true
partials:
  -
    type: text
    parallax: true
    background-image: "url(http://www.iteam.se/content/images/section-topbilder/start.JPG)"
    color: "#fff"
    content: "# En kreativ teknikbyrå för dig som vill växa"
  -
    type: text
    content: Vår kärna har sedan starten 1995 alltid varit passion. Under den här tiden har vi storögt, hungrigt och otåligt kastat oss över allt nytt. Vår passion driver oss ständigt vidare till nästa teknik, nästa utmaning och den bästa lösningen. Det nyaste är inte automatiskt det bästa - det vet vi. Men om ny teknik och ny kunskap bär på lösningen, så kan du lita på att vi känner till det.
  -
    type: tweet
  -
    type: map
  -
    type: calendar
    content: 
      - 
        time: '2014-06-18'
        text: '<a href="http://www.mis.se/event/frukostseminarium-kop-grisen-i-sacken">Frukostseminarium, Johan Öbrink föreläser på Marknadsföreningen</a> om varför agila projekt är bättre'
      -
        time: '2014-09-10'
        text: '<a href="http://www.iteam.se/om-oss/kompetens/att-bestalla-agilt/">Hjälp oss bli bättre agil beställare</a>, vi sätter ihop en fokusgrupp och träffas under hösten och försöker lära ut våra erfarenheter'
      -
        time: '2014-09-18'
        text: '<a href="http://nordicjs.com/sponsors">Iteam är en av tre huvudsponsorer till Nordic.js</a> - en internationell konferens om Javascript, vårt favoritspråk.'
---

