extends ../index

block content

  .row.flex
    .grid-full
      .row.flex
        .grid-quarter
          a(href="vimla") Vimla
          p Vi ser vårt team hos Iteam mer som våra kollegor än som leverantör. Istället för att vi ställer krav som Iteam utför så jobbar vi tillsammans och sätter alla funktioner och lösningar för siten.