.rows > .row {
  padding: $margin 0;

  @include mobile() { padding: $margin / 2; }
}

.row {
  position: relative;

  @include mobile() {
    &.text { padding:40px; }
  }

  .grid {
    flex:1 1;

    &:not(.last) { margin-right:2%; }
  }

  .grid-full {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: $max-width;
  }

  .grid-half,
  .grid-quarter {
    @include box-sizing();

    align-self: center;

    &.top { align-self: flex-start; }
  }

  .grid-half {
    width:50%;

    @include mobile() { width: 100%; }
    &.text { padding: 0 $margin; }
  }

  .grid-quarter {
    $top: 40px;

    padding-right: $top;
    max-width: 100%;
    min-width: 25%;
    text-align: center;

    &:nth-child(n+5) { margin-top: $top; }
    &:nth-child(4n) { padding-right: 0; }

    @include mobile() { max-width: 100%; }
  }

  .align-top {
    align-self: flex-start;
  }

  &.divide {
    &:before {
      @include center(x, top, 0);
      @include size(100px, 3px);

      background: $color__accent;
      content: "";
      display: block;
    }
  }
}

.left {
  margin-right: $margin / 2;
}
