.grid-full {
  display: flex;
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 10px;
  padding-right: 10px;

  @include mobile {
    padding: 0;
  }

  @include devices(mobile-landscape, mobile) {
    flex-wrap: wrap;
  }

  &.wider {
    max-width: 1200px;
  }
}
