---
subtitle: Våra tjänster
layout: default.hbs
order: 2
text:
  type: text
  mdtext: services
  background: light
  center: true
---

<div class="services-wrap">
  {{> text text}}

  <div class="row services">
    <div class="grid-full">
      <ul>
        {{#pages route="./src/pages/vara-tjanster/" start="" type="services"}}
          {{#each data}}
            {{#unless frontmatter.unpublished }} 
            <li>
              <a href="{{this.url}}">
                <i class="{{ this.frontmatter.icon }}"></i>
                {{this.title}}
              </a>
              <p>{{ this.frontmatter.description }}</p>
            </li>
            {{/unless}}
          {{/each}}
        {{/pages}}
      </ul>
    </div>
  </div>
</div>