<div
  class="box blogs partial {{{classList this}}}">

  <div class="grid-full">
    <div class="box">
      <div
        class="blog-posts"
        data-blog-iteam-query=""
        data-blog-iteam-count="5"></div>
    </div>
  </div>
</div>
