<div class="
  row
  blogs
  partial
  {{#if color}} color-{{{color}}} {{/if}}
  {{#if background-color}} background-{{{background-color}}} {{/if}}">
  <div class="grid-full wider">
    <div class="row">
      <div
        class="blog-posts"
        data-blog-iteam-query=""
        data-blog-iteam-count="5"></div>
    </div>
  </div>
</div>
