<div
  class="grid-half align-top blog {{{classList this}}}">

  <div class="box social-media">
    <div class="grid-full">
      <div class="blog-posts" data-blog-query="{{social-media.blog}}" data-blog-count="{{blog-count}}"></div>
    </div>
  </div>
</div>
