<div
  class="row blogs partial {{{classList this}}}">

  <div class="grid-full wider">
    <div class="row">
      <div
        class="blog-posts"
        data-blog-iteam-query=""
        data-blog-iteam-count="5"></div>
    </div>
  </div>
</div>
