<div class="grid-half align-top blog">
  <div class="row social-media">
    <div class="grid-full">
      <i class="ion-ios7-bookmarks"></i>
      <div class="blog-posts" data-blog-query="{{social-media.blog}}" data-blog-count="{{blog-count}}"></div>
    </div>
  </div>
</div>