<div class="row case-navigation">
  <div class="grid-full">
    <div class="row flex">
      <div class="previous">
        {{{caseNavigation this.order}}}
      </div>
      <div class="cases">
        <i class="ion-grid"></i>
        <a href="/case">Alla case</a>
      </div>
      <div class="next">
        {{{caseNavigation this.order "next"}}}
      </div>
    </div>
  </div>
</div>