<div class="row {{ type }}">
  <div class="grid-full">
    <ul>
      {{#each categories.technology}}
        <li class="filter" data-class="{{ name }}">
          <i class="{{ icon }}"></i>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
