<div
  class="
    row
    partial
    case-navigation
    {{#if background-color}} background-{{{background-color}}} {{/if}}
    {{#if color}} color-{{{color}}} {{/if}}
  ">
  <div class="grid-full">
    <div class="row flex">
      <div class="case-navigation__block">
        {{{caseNavigation this.order}}}
      </div>
      <div class="case-navigation__block case-navigation__block--center">
        <i class="ion-grid"></i>
        <a href="/case">Alla case</a>
      </div>
      <div class="case-navigation__block case-navigation__block--next">
        {{{caseNavigation this.order "next"}}}
      </div>
    </div>
  </div>
</div>
