<div class="row {{ type }} {{#if divide}}
    divide
  {{/if}}">
  <div class="grid-full">
    <form id="form-contact" action="{{url}}" method="{{method}}">
      <h3>Säg hej!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos beatae deserunt, repudiandae voluptas dolorem odit, illo nesciunt quis adipisci deleniti ullam tempore minima eius tempora temporibus iure expedita labore?</p>
      <input type="text" name="name" class="name" placeholder="Namn">
      <input type="text" name="email" placeholder="E-mail" required="required">
      <input type="text" name="text" class="message" placeholder="Meddelande" required="required">
      <div class="submit">
        <i style="animation-delay: 0.5s; animation-duration: 2s;" class="ion-ios7-email-outline animated bounce-in animate" data-delay="0.5s" data-duration="2s"></i>
        <input type="submit" value="Skicka meddelande">
      </div>
    </form>
  </div>
</div>