<div class="row contact">
  <div class="grid-full">
    <div class="address">
      <ul>
        <li class="title">Iteam Solutions AB</li>
        <li>Tegnérgatan 28</li>
        <li>113 59 Stockholm</li>
        <li>08-26 70 90</li>
        <li>info@iteam.se</li>
      </ul>
    </div>
    <form action="">
      <h3>Säg hej!</h3>
      <input type="text" placeholder="Namn">
      <input type="text" placeholder="E-mail">
      <input type="text" class="message" placeholder="Meddelande">
      <i style="animation-delay: 0.5s; animation-duration: 2s;" class="ion-ios7-email-outline animated bounce-in animate" data-delay="0.5s" data-duration="2s"></i>
      <input type="submit" value="Skicka meddelande">
    </form>
  </div>
</div>