<div class="row footer flex">
  <div class="grid-full">
    <div class="footer__block">
      <h4 class="footer__title">Visit</h4>
      <ul>
        <li class="title"><strong>Iteam Solutions AB</strong></li>
        <li>Tegnérgatan 28</li>
        <li>113 59 Stockholm</li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="footer__title">Contact</h4>
      <ul>
        <li class="phone">
          <a href="callto:+46 826 70 90">T: +46 826 70 90</a>
        </li>
        <li class="mail">
          <a href="mailto:info@iteam.se">E: info@iteam.se</a>
        </li>
        <li>ORG: 556551-6928</li>
      </ul>
    </div>
    <div class="social footer__block">
      <h4 class="footer__title">Follow</h4>
      <ul>
        {{#each social}}
          <li>
            <a href="{{ url }}" class="{{ class }}">
              <i class="ion-social-{{ class }}"></i>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="footer__title">Events</h4>
      {{> calendar}}
    </div>
  </div>
</div>
