<div class="box footer flex">
  <div class="grid-full">
    <div class="footer__block">
      <h4 class="footer__title">Stockholm</h4>
      <ul>
        <li class="title"><strong>Iteam</strong></li>
        <li>Östermalmsgatan 26A</li>
        <li>114 26 Stockholm</li>
      </ul> </br>
      <ul>
        <li class="phone">
          <a href="callto:+46 826 70 90">+46 826 70 90</a>
        </li>
        <li class="mail">
          <a href="mailto:info@iteam.se">info@iteam.se</a>
        </li>
        <li>ORG: 556551-6928</li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="footer__title">Göteborg</h4>
      <ul>
        <li class="title"><strong>Iteam</strong></li>
        <li>Haga Kyrkogata 28</li>
        <li>Göteborg</li>
      </ul> </br>
      <ul>
        <li class="phone">
          <a href="callto:+46 734 029 112">+46 734 029 112</a>
        </li>
        <li class="mail">
          <a href="mailto:johanna.grahn@iteam.se">johanna.grahn@iteam.se</a>
        </li>
        <li>ORG: 556551-6928</li>
      </ul>
    </div>
    <div class="social footer__block">
      <h4 class="footer__title">Follow</h4>
      <ul>
        {{#each social}}
          <li>
            <a href="{{ url }}" class="{{ class }}">
              <i class="ion-social-{{ class }}"></i>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <!-- <div class="footer__block">
      <h4 class="footer__title">Events</h4>
      {{> calendar}}
    </div> -->
  </div>
</div>
