<div class="grid-half align-top github" data-github-hide-on-empty="true">
  <div class="row social-media">
    <div class="grid-full">
      <i class="ion-social-github"></i>
      <div data-github-query="{{social-media.github}}" data-github-count="{{github-count}}"></div>
    </div>
  </div>
</div>