<div class="grid-half align-top">
  <div class="row social-media">
    <div class="grid-full">
      <i class="ion-social-github"></i>
      <div class="github left" data-github-username="{{github}}" data-github-count="{{feed-count}}"></div>
    </div>
  </div>
</div>