<div class="row {{ type }}">
  <div class="grid-full">
    <div class="row flex">
    {{#each content}}
      <div class="list first">{{{ texts.[0] }}}</div>
      <img src="{{ image.src }}" alt="" >
      <div class="list">{{{ texts.[1] }}}</div>
    {{/each}}
    </div>
  </div>
</div>
