<div class="instagram">
  <div
    class="instagram__content"
    data-instagram-query="{{social-media.instagram}}"
    data-instagram-count="{{instagram-count}}"
    data-instagram-resolution="{{instagram-resolution}}"></div>
</div>
