<div class="row grid-full instagram">
  <div class="row instagram">
    <div class="grid-full">
      <i style="animation-delay: 0.5s; animation-duration: 2s;" class="ion-social-instagram animated tada" data-delay="0.5s" data-duration="2s"></i>
      {{> instagram this}}
    </div>
  </div>
</div>