<div class="grid-half align-top instagram">
  <div class="row social-media">
    <div class="grid-full">
      <i class="ion-social-instagram"></i>
      <div data-instagram-query="{{social-media.instagram}}" data-instagram-count="{{instagram-count}}"></div>
    </div>
  </div>
</div>