<div class="row partial-{{ type }}">
  <div class="grid-full">
    <h2>{{ title }}</h2>
    <ul>
      {{#each links}}
        <li class="partial-links__item">
          <div class="url">
            <a href="{{ url }}">{{ url }}</a>
          </div>
          <div class="text">
            {{ text }}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>