<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <div class="row flex">
      {{{list items }}}
    </div>
  </div>
</div>