<div class="row {{ type }} {{ background }}" style="
  {{#if background-color}}
    background: {{ background-color }};
  {{/if}}
  {{#if color}}
    color: {{ color }};
  {{/if}}
  {{#if background-image}}
    background-image: url({{ background-image }});
  {{/if}}
">
  <div class="grid-full">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
  </div>
</div>