<div class="row {{ type }} {{ background }}" style="
  {{#if background-color}}
    background: {{ background-color }};
  {{/if}}
  {{#if color}}
    color: {{ color }};
  {{/if}}
">
  <div class="grid-full">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
    <img src="/content/images/map.png">
  </div>
</div>