<div class="row flex {{ type }} {{ background }}" style="
  {{#if background-color}}
    background: {{ background-color }}
  {{/if}}" >
  {{#each images }}
    <img src="{{ this }}" alt="">
  {{/each}}
</div>