<div class="offset"></div>

<div id="navicon"></div>
<div id="navbar">
  <a href="/"><img src="http://www.iteam.se/content/images/svg/iteam_logo.svg" alt="" id="logo"></a>
  <div id="close-navbar"></div>
  <ul class="nav">
    {{{pages "./src/pages/" "/"}}}
  </ul>
</div>