<div class="offset"></div>
<div id="navbar">
  <ul class="nav">
    <li><a href="/case">Case</a></li>
    <li><a href="/vara-tjanster">Våra tjänster</a></li>
    <li>Medarbetare</li>
    <li>Karriär</li>
    <li>Om oss</li>
  </ul>
</div>