<div class="row flex {{ type }}">
  <div class="grid-full">
    <div class="row flex">
    {{#each offers}}
      <div class="grid-quarter">
        <i class="{{ class }}"></i>
        {{ title }}
      </div>
    {{/each}}
    </div>
  </div>
</div>