<div class="row {{ type }}" style="
  {{#if background}}
    background: {{ background }};
  {{/if}}
">
  <div class="grid-full">
    <ul class="flex">
      {{#each products}}
        <li>
          <h3>{{ this }}</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dicta, quasi ex necessitatibus tempora aliquam.</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>