<div class="row partial {{ type }} selected-cases">
  <div class="grid-fullwidth">
  {{#selectedCases cases=cases}}
    {{#each data}}
      <div class="selected-case">
        <a href="{{ url }}" class="selected-case__element">
          <span class="selected-case__overlay"></span>
          <img class="selected-case__image" src={{ thumbnail }} />

          <h1 class="selected-case__title">{{ subtitle }}</h1>
        </a>
      </div>
    {{/each}}
  {{/selectedCases}}
  </div>
</div>
