<div class="row {{ type }}" style="
  {{#if background-image}}
    background-image: url({{ background-image }});
  {{/if}}
">
  <div class="grid-full">
    <ul class="flex">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>