<div class="row">
  <div class="grid-fullwidth">
    <div class="selected-cases">
      {{#selectedCases cases=cases}}
        {{#each data}}
          <div class="selected-cases__block">
            <div class="selected-case">
              <a href="{{ url }}" class="selected-case__element">
                <span class="selected-case__overlay"></span>
                <img class="selected-case__image" src={{ thumbnail }} />

                <h3 class="selected-case__title">{{ subtitle }}</h3>
              </a>
            </div>
          </div>
        {{/each}}
      {{/selectedCases}}
    </div>
  </div>
</div>
