<div class="row {{ type }}">
  <ul>
    <li>
      <div class="background" style="background-image:url(/content/images/vimla_start.jpg)"></div>
      <a href="/case/vimla">
        <article>
          <h3>Vimla</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, velit? Quas quasi omnis nam sapiente minima consectetur totam voluptas fuga, repellendus facilis. Cupiditate minima, est deleniti debitis odio, iste laboriosam.
          </p>
          <ul class="icons">
            <li>
              <i class="ion-code"></i>
            </li>
            <li>
              <i class="ion-ios7-lightbulb-outline"></i>
            </li>
          </ul>
          <div class="button">Läs</div>
        </article>
      </a>
    </li>
    <li>
      <div class="background" style="background-image:url(http://www.gratisography.com/pictures/114H.jpg)"></div>
      <a href="/case/vimla">
        <article>
          <h3>Radical.Fm</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, velit? Quas quasi omnis nam sapiente minima consectetur totam voluptas fuga.
          </p>
          <ul class="icons">
            <li>
              <i class="ion-code"></i>
            </li>
            <li>
              <i class="ion-ios7-lightbulb-outline"></i>
            </li>
          </ul>
          <div class="button">Läs</div>
        </article>
      </a>
    </li>
    <li>
      <div class="background" style="background-image:url(http://www.gratisography.com/pictures/88.jpg)"></div>
      <a href="/case/vimla">
        <article>
          <h3>Byggtjänst</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ul class="icons">
            <li>
              <i class="ion-code"></i>
            </li>
          </ul>
          <div class="button">Läs</div>
        </article>
      </a>
    </li>
    <li>
      <div class="background" style="background-image:url(http://www.gratisography.com/pictures/96.jpg)"></div>
      <a href="/case/vimla">
        <article>
          <h3>TRR</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, velit? Quas quasi omnis nam sapiente minima consectetur totam voluptas fuga, repellendus facilis. Cupiditate minima, est deleniti debitis odio, iste laboriosam.
          </p>
          <ul class="icons">
            <li>
              <i class="ion-code"></i>
            </li>
            <li>
              <i class="ion-ios7-lightbulb-outline"></i>
            </li>
          </ul>
          <div class="button">Läs</div>
        </article>
      </a>
    </li>
  </ul>
</div>