<div class="row {{ type }}">
  <div class="grid-full grid-wrapped">
  {{#selectedCases cases=cases}}
    {{#each data}}
      <div class="selected-case">
        <a href="{{ url }}">
          <img class="selected-case__image" src={{ thumbnail }} />
          <div class="center">
            <div class="selected-case__title">{{ subtitle }}</div>
            <hr>
          </div>
          <div class="selected-case__overlay"></div>
        </a>
      </div>
    {{/each}}
  {{/selectedCases}}
  </div>
</div>
