<div class="row">
  <ul class="side-menu">
    {{#each items}}
      <li class="{{ name }} {{#if @first}} active {{/if}}">
        <a onclick="smoothScr.anim('{{ name }}')">
          <span>{{ text }}</span>
          <i></i>
        </a>
      </li>
    {{/each}}
  <ul>
</div>