<div
  class="box partial team {{{classList this}}}"
  style="{{{styleHelper this}}}">

  <div class="grid-fullwidth">
    {{#if title}}
      <h3>{{ title }}</h3>
    {{/if}}
    {{#if text}}
      <p>{{ text }}</p>
    {{/if}}
    <ul class="team__team{{#if preview}} preview{{/if}}{{#if centered}} centered{{/if}}">
      {{#team this}}
        {{#each data}}
          <li class="team__team-member">
            {{> coworker this}}
          </li>
        {{/each}}
      {{/team}}
    </ul>
  </div>
</div>
