<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <ul>
      {{{team team gravatar-sizes}}}
    </ul>
  </div>
</div>