<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <i class="ion-social-twitter animated tada" data-delay="0.5s" data-duration="2s"></i>
    <div data-twitter-user="iteam1337"></div>
  </div>
</div>