<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background: {{ background-color }}" {{/if}}>
  <div class="grid-full">
    <i class="ion-social-twitter"></i>
    Tight game but team Christian, Alex and Rickard won! @ Rålambshovsparken <a href="instagram.com/p/qhY2dppXwL/">instagram.com/p/qhY2dppXwL/</a>
  </div>
</div>