<div class="row partial-{{ type }} {{ background }}" style="{{#if background-color}} background: {{ background-color }}; {{/if}} {{#if color}} color: {{ color }}; {{/if}}" >
  <div class="grid-full">
    <i class="ion-social-twitter animated tada" data-delay="0.5s" data-duration="2s"></i>
    <div data-twitter-query="iteam1337" data-twitter-count="1"></div>
  </div>
</div>