<div class="row {{ type }} {{ background }}" {{#if background-color}} style="background:{{ background-color }}" {{/if}}>
  <video autoplay="autoplay">
    <source src="{{ file }}" type="video/mp4"></source>
  </video>
</div>