<div class="row {{ type }}" style="background:{{ background }}">
  <div class="grid-full">
    <div class="video-wrap">
      <iframe src="{{ file }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>