---
subtitle: Karriär
body-class: dark
no-navigation: true
order: 4
layout: partials.hbs
partials:
  -
    type: numbered-list
    extra-classes: padding-top
    background-image: "http://www.gratisography.com/pictures/121H.jpg"
    title: Är du vår nya utvecklare?
    text: Vi vet att ett kreativt kunskapsföretag inte är bättre än glädjen hos sina medarbetare och därför prioriterar vi att få en stimulerande arbetsmiljö där vi lär oss av varandra, väljer utmanande projekt och där vi aldrig skickar ut konsulter ensamma på för långa uppdrag som konsulter.
  -
    type: text
    image-position: left
    image:
      src: http://www.iteam.se/content/images/ovrigt/elisabeth.jpeg
      alt: Elisabeth
    mdtext: src/pages/karriar/lefttext
  -
    type: text
    background: light
    mdtext: src/pages/karriar/righttext
  -
    type: text
    extra-classes: rolls
    mdtext: src/pages/karriar/bottomtext
  -
    type: instagram
    social-media:
      instagram: iteam1337
    instagram-count: 4
    instagram-resolution: high
---

{{!-- 
---
partials:
  -
    type: text
    mdtext: lefttext
left-text:
  type: text
  mdtext: lefttext
right-text:
  type: text
  mdtext: righttext
  background: light
bottom-text:
  type: text
  mdtext: bottomtext
  background: light

instagram:
  social-media:
    instagram: iteam1337
  instagram-count: 3
  instagram-resolution: low
---
<div class="row career">
  {{> image image}}
  <div class="grid-full">
      {{> text left-text}}
      {{> text right-text}}
      {{> text bottom-text}}
  </div>
  <div class="grid-full align-top instagram">
    <div class="row">
      <div class="grid-full">
        {{> instagram instagram}}
      </div>
    </div>
  </div>
</div>
 --}}