---
subtitle: Erbjudanden
layout: default.hbs
order: 2
---

<div class="row offers">
  <div class="grid-full">
    <ul>
    {{#pages route="./src/pages/erbjudanden/" start="" type=""}}
    	{{#each data}}
          <li>
            <a href="{{ this.url }}">{{ frontmatter.subtitle }}</a>
          </li>
      {{/each}}
    {{/pages}}
    </ul>
  </div>
</div>
