---
subtitle: Prime
order: 1
description: We help to define your dream. Starting with strategy and market and ending with lab and proof of concept we do all preparations together with you to help the product to have a great start.
layout: default.hbs
partials:
  - 
    type: text
    mdtext: text
---
{{> text text}}
<div class="cases-wrap">
  {{#pages category=subtitle}}
    <div class="grid-full">
      Lite grejer vi gjort
      <ul>
        {{#each data}}
          <li>  
            <a href="/case/{{url}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/pages}}
</div>

