---
subtitle: Case
order: 1
layout: default.hbs
---
<ul>
    {{#categories this}}
      {{#each data}}
      <li>{{this}}</li>
      {{/each}}
    {{/categories}}
</ul>

<div class="row flex cases">
  <div class="grid-full">
    <ul>
      {{!-- {{{pages "" ""}}} --}}
      {{#pages this}}
        {{#each data}}
        <li class="{{this.categories}}"> {{this}} </li>
        {{/each}}
      {{/pages}}
    </ul>
  </div>
</div>
