---
subtitle: Medarbetare
order: 1
layout: default.hbs

navigation: true
contact: true
text:
  type: text
  center: true
  mdtext: coworkers
---

{{> text text}}

<div class="row coworkers">
  <div class="grid-full">
    <ul>
      {{{pages "./src/pages/medarbetare/" "" "coworker" 300}}}
    </ul>
  </div>
</div>