<div class="row">
  <h3>Are you in need of assistance?</h3>
</div>
<div class="row">
  <p>
    Call +46(0)8-26 70 90<br/>
    When prompted, choose <strong>number 1</strong><br/>
    then download the <a href="http://get.teamviewer.com/j8dvucq">application needed</a>.
  </p>
</div>
