<div class="row">
  <h2>Are you in need of assistance?</h2>
</div>
<div class="row">
  <div class="left">
    <img style="max-width: 250px; max-height: 250px;" src="/content/images/icons/Iteam-icon-01.png" alt="pc" />
  </div>
  <div class="right inverted">
    Call +46(0)8-26 70 90 and choose <strong>number 1</strong> in the telephone exchange,<br/>
    then download the <a href="http://get.teamviewer.com/j8dvucq">application needed</a>.
  </div>
</div>
