.row.contact {
  margin: @margin 0;

  form {
    text-align: right;
    vertical-align: top;

    h3 {
      border:none;
      display: block;
      text-align: center;
    }

    p {
      margin: 0 auto @margin / 2;
      text-align: center;
      width: 80%;
    }

    i {
      position: relative;
      top:8px;
    }

    input {
      .border-radius();
      .box-sizing();
      .transition(all, 200ms, ease-in-out);

      background: @input-bg; 
      border:2px solid @input-bg;
      color: rgb(146,159,166);
      font-size: 1.5rem;
      padding: 15px 20px;
      width: 49%;

      &.name { margin-right: 1.4%; }

      &:focus {
        background: #fff;
        border: 2px solid @accent;
        outline: none;
      }

      &.message {
        margin-top: 20px;
        width: 100%;
      }
    }

    .submit {
      .border-radius();
      .box-sizing();
      .transition(background, @speed, ease-in-out);

      background: @accent;
      color: #fff;
      cursor:pointer;
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      text-align: right;
      will-change: background;

      &:hover { background: @color; }
     
      input {
        background:none;
        border:none;
        color:#fff;
        display: inline-block;
        font-size: 1.75rem;
        padding:0;
        width: auto;
      }

      i {
        color: #fff;
        font-size: 4rem;
        line-height: 0;

        &:before { line-height: 0; }
      }
    }
  }

  @media @mobile {
    padding: 0 @margin;

    .address, form {
      width: 100%;

      input { width: 100%; }
    }

    form { margin-top: @margin; }
  }
}