.links {
  padding: @margin 0;

  h2 {
    margin-top:0;
  }

  ul {
    li {
      &:not(:last-child) { margin-bottom:@margin / 5; }

      div {
        display: inline-block;
      }

      .url {
        margin-right:2%;
        vertical-align: top;
        width: 30%;

        a {
          .text-overflow();

          display: block;
        }
      }

      .text {
        width:68%;
      }   
    }
  }

}