.row.map {
  height: 300px;
  overflow:hidden;
  padding: @margin 0;
  position: relative;

  img {
    .center(y);

    max-width: 120%;

    @media @mobile {
      .center(both);

      max-width: initial;
    }
  }
}