.numbered-list {
  padding: @margin 0;

  ul {
    li {
      margin-bottom:30px;

      &:before {
        .bullets();

        content:"";
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}