.row.offers {
  margin: @margin 0;

  .grid-full {
    width: @max-width;
  }
  
  .row {
    .grid-quarter {
      @top: 40px;

      padding-right: @top;
      max-width: 100%;
      min-width: 25%;
      text-align: center;

      &:nth-child(n+5) {
        margin-top: @top;
      }

      &:nth-child(4n) {
        padding-right: 0;
      }
    }
  }

  i {
    display: block;
    font-size: 60px;
    margin-bottom:20px;
  }

  ul {
    .flex();
  }

  li {
    width:33%;

    i { font-size: 8rem; }

    &:nth-child(n+4) {
      margin-top: @margin;
    }
  }
}