.row.quote {
  padding:(@margin * 2) 0;
  text-align: center;

  @media @mobile {
    padding: @margin;
  }

  .text {
    font-style:italic;
    position: relative;

    &:before {
      .position(top,left,50px,-100px);

      color:@quote;
      content: "\201C";
      font-size: 15rem;
    }
  }
  .by {
    font-weight:700;
    margin-top:@margin/2;
  }
}