.row.quote {
  text-align: center;

  @media @mobile {
    padding: @margin @margin / 2;
  }

  .text {
    font-style:italic;
    position: relative;

    &:before {
      .position(top,left,30px,-70px);

      color:@quote;
      content: "\201C";
      font-size: 90px;
    }
  }
  .by {
    font-weight:700;
    margin-top:@margin/2;
  }
}