.selected-cases {
  background-size: cover;
  padding: @margin 0;

  ul li {
    background: #fff;
    height: 300px;
    text-align: center;
    width: 30%;

    &:not(:last-child) { margin-right:5%; }

    h3 {
      margin-bottom: 20px;
      padding-bottom: 0;
    }
  }
}