.row.side-image {
  padding:@margin 0;

  .grid-full {
    .flex();
  }

  .text {
    .box-sizing();
    
    align-self:center;
    display: inline-block;
    padding: 0 @margin 0 0;
    width: 40%;

    @media @mobile {
      width: 100%;
    }

    h1,h2,h3 {
      color: inherit;
    }
  }

  img {
    align-self:center;
    display: inline-block;
    width:60%;
  }
}