.row.side-image {
  padding:@margin 0;

  .grid-full {
    .flex();
  }

  .text {
    .box-sizing();
    
    align-self:center;
    display: inline-block;
    padding: @margin;
    width: 40%;
  }

  img {
    align-self:center;
    display: inline-block;
    width:60%;
  }
}