.side-menu {
  .center(y, right, 40px);

  position: fixed;
  z-index: 20;

  li {
    cursor: pointer;
    line-height: 1.5;
    padding:0;

    a {
      display: inline-block;
      position: relative;
      text-align: right;
      width:100%;

      span {
        .opacity(0);
        .transition(opacity, 300ms, ease-in-out);

        margin-right:30px;
        position: relative;
        top:-4px;
      }

      &:hover {
        span {
          .opacity(100);
        }
      }

      i {
        .bullets();
        .position(top,right,0,0);
      }
    }

    &:hover, &.active {
      i {
        .scale(1);

        background:none;
        border:1px solid @accent;
        right:-1px;
      }
    }
  }
}