@slider-height: 600px;

.slider {
  background: @light;
  padding: @margin 0;
  text-align: center;

  > .grid-full > ul {
    .size(100%, @slider-height);

    padding: 0;
    display: block;
    overflow: hidden;
    position: relative;

    * {
      .user-select(none);
    }
    
    input { display: none; }

    input:checked + li {
      .opacity(100);
      .transform(scale(1));
      .transition(opacity, 1s, ease-in-out);
    }

    input#img-0:checked ~ .nav-dots label#img-dot-0,
    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3,
    input#img-4:checked ~ .nav-dots label#img-dot-4,
    input#img-5:checked ~ .nav-dots label#img-dot-5 {
      background: rgba(255, 255, 255, 0.8);
    }

    > li {
      .opacity(0);
      .position(top,left,0,0);
      .size(100%, @slider-height);
      .transform(scale(0));
      .transition(all, 300ms, ease-in-out);

      display: block;

      .slide {
        height: @slider-height;

        @media @mobile {
          display:block;

          img {
            width:100%;
          }          
        }

        .text {
          flex-shrink:100;
          padding:100px;

          @media @mobile {
            padding:20px 40px 0;
          }
        }

        .title {
          .center(both);

          color:#fff;
          font-size:4em;
          font-family:'Helvetica Neue', sans-serif;
          font-weight:100;
        }

        img {
          width: 100%;
        }
      }
    }

    .nav-dots {
      .center(x, bottom, 20px);
      .size(100%, 11px);

      display: block;
      text-align: center;
      top: auto;
      opacity:1;
    
      .nav-dot {
        .size(11px);
        .transition(background, 200ms, ease);

        top: -5px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);

        &:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

.nav label {
  @size: 60px;

  .border-radius(@size);
  .transform(translateX(30px) translateY(-50%));
  .size(@size);
  .position(top,left,50%,0);
  .transition(all, 200ms, ease);

  position: absolute;
  z-index: 9;
  cursor: pointer;
  background: fade(#333, 90%);
  color: #FFF;
  font-size: 3rem;
  line-height: 380px;
  text-align: center;
  will-change: height, width;

  &:hover {
    .size(@size + 10);
  }

  &.next {
    .transform(translateX(@max-width - @size - 30px) translateY(-50%));
  }

  i {
    .center(both);
  }
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

input:checked + .slide-container .nav label { display: block; }