.row.team {
  padding: @margin 0;

  ul {
    .flex();

    justify-content: center;
  }

  li {
    .box-sizing();
    
    color: @a;
    display: inline-block;
    font-weight: 600;
    padding-right: @margin;
    text-align: center;
    width: 25%;

    @media @mobile {
      margin-top: @margin;
      padding-right: 0;
      padding: 0 @margin;
      width:100%;
    }

    &:nth-child(n+5) { margin-top: @margin; }

    img {
      display: block;
      margin: 0 auto @margin / 2;
    }

    .job {
      color: @color;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}