.row.team {
  margin: @margin 0;
  padding: @margin 0;

  ul {
    .flex();

    justify-content: center;
  }

  li {
    .box-sizing();

    display: inline-block;
    padding-right: @margin;
    text-align: center;
    width: 25%;

    @media @mobile {
      margin-top: @margin;
      width:100%;
    }

    &:nth-child(n+5) { margin-top: @margin; }

    img {
      display: block;
      margin: 0 auto @margin / 2;
    }

    div {
      color: darken(@light, 20%);
      font-size: 1.4rem;
      line-height: 1;
    }
  }
}