@img-width: 40%;

.row.text {
  padding: @margin 0;

  @media @mobile {
    padding: @margin @margin / 3;
  }

  .grid-full {
    margin: 0 auto;
    font-size: 2rem;
    max-width: 800px;
    padding: 0 @margin / 2;
  }

  h3 {
    color: inherit;
    display: block;
    margin-top: @margin / 2;
    padding:0;
    text-align: center;

    &:first-of-type {
      margin-top:0;
    }
  }

  p {
    font-size:2rem;
    margin: (@margin / 5) * 2 auto 0;
  }

  img {
    max-width: @img-width;

    &.left {
      float: left;
      margin-bottom: @margin / 5;
      margin-right: @margin / 2;
    }

    &.right {
      float: right;
      margin-left: @margin;
    }

    @media @mobile {
      margin-bottom: @margin / 2;
      max-width: 100%;
    }
  }

  &.one-line {
    padding: @margin / 2 0;
    text-align: center;

    p {
      margin:0;
    }
  }

  &.parallax {
    .prefix('background-size', cover);

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-size: 4rem;
    padding: @margin * 4 0;
    position: static;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(33,33,33,0.8);
    z-index: -1;

    h1,h2,h3 {
      color: inherit;
      line-height:1;
    }

    p {
      font-size: 2rem;
    }

    @media @mobile {
      padding: 20px @margin;

      h1,h2,h3 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &.center {
    text-align: center;
  }

  .left {
    text-align: left;
  }
}