@img-width: 40%;

.row.text {
  img {
    max-width: @img-width;

    &.left {
      float: left;
      margin-right: @margin;
    }

    &.right {
      float: right;
      margin-left: @margin;
    }

    @media @mobile {
      margin-bottom: @margin / 2;
      max-width: 100%;
    }
  } 
}