.row.video {
  .video-wrap {
    display: block;
    overflow:hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }

  iframe {
    .position(top,left,0,0);
    .size(100%);    

    display: block;
  }
}