.row.video {
  padding: @margin 0;
  text-align: center;

  p {
    margin: 0 auto @margin;
    width: 50%;
  }

  .video-wrap {
    .size(100%, 0);

    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
  }

  iframe {
    .position(top,left,0,0);
    .size(100%);    

    display: block;
  }
}