.sixteen-nine() {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.row.video {
  .sixteen-nine();

  .grid-full {
    .sixteen-nine();
  }

  iframe {
    .position(top,left,0,0);
    .size(100%);    
  }
}