/* General
--------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;

  background: $color__background;
  color: $color--font;
  font-family: $body-font;
  font-size: $small-p-size;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  margin: 0;
}

/* Fancyness
--------------------------------------------------------*/
::-moz-selection {
  background-color: $color--accent;
  color: #fff;
}

::selection {
  background-color: $color--accent;
  color: #fff;
}

/* Base
--------------------------------------------------------*/
img { max-width: 100%; }

.flex { @include flex(); }

.hidden { display: none; }

.partial {
  padding: $margin 0;

  @include mobile() {
    padding: 20px;
  }
}