/* General
--------------------------------------------------------*/
html {
  font-size:62.5%;
}

body {
  -webkit-font-smoothing: antialiased;

  background:$bg;
  color:$color;
  font-family:$body-font;
  font-size:$small-p-size;
  font-weight:300;
  letter-spacing: 0.025em;
  line-height:1.75em;
  margin:0;
}

a {
  color:$accent;
  text-decoration:none;

  img { border:none; outline: none; }
}

p {
  font-family:$body-font;
  font-size:$p-size;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 2;
  margin:$margin / 2 0 $margin;

  &:first-child { margin-top: 0; }
  &:last-child { margin: 0; }
}

strong {
  font-weight: 400;
}

/* Fancyness
--------------------------------------------------------*/
::-moz-selection {
  background-color: $accent;
  color: #fff;
}

::selection {
  background-color: $accent;
  color: #fff;
}

/* Lists
--------------------------------------------------------*/
ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* Base
--------------------------------------------------------*/
img {
  max-width:100%;
}

.flex { @include flex(); }

.hidden {
  display: none;
}