/* General
--------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;

  background: $color__background;
  color: $color--font;
  font-family: $body-font;
  font-size: $small-p-size;
  font-weight: 300;
  letter-spacing: 0.025em;
  word-spacing: -0.05em;
  word-wrap: break-word;
  line-height: ($small-p-size / 100%) * 115%;
  margin: 0;
}

/* Base
--------------------------------------------------------*/
img { max-width: 100%; }

.flex { @include flex; }

.hidden { display: none; }

.container {
  > div:first-of-type {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  > div:last-of-type:not(.video):not(.image):not(.instagram):not(.fullview):not(.contact) {
    padding-bottom: $margin;
  }
}

.partial {
  padding: $margin 0 0;
  box-sizing: border-box;

  .partial { padding: 0; }

  &.has-background {
    padding: $margin 20px;
  }

  @include mobile {
    padding: 20px;
  }
}

.open {
  overflow: hidden;
}

::-moz-selection,
::selection {
  background: $color--green;
  color: $color--white;
}
