body {
  background: #000 !important;
}
#logo {
  margin: 50px 0;
}
.ie-header {
  max-height: 150px;
}
.container {
  background: #fff;
  margin: 0;
  padding: 0;
  a {
    color: #000 !important;
    border-color: #000 !important;
  }
  > div {
    padding: 0;
  }
}
.ie {
  margin: 10px 0;
  .grid-full {
    display: block;
    margin: 50px auto 0;
    padding: 0 0 50px;
    .box {
      min-height: 100%;
      height: auto;
    }
    p {
      max-width: 70%;
      display: inline-block;
    }
    > div {
      min-height: 100px;
    }
    img {
      width: inherit;
      height: 100%;
      margin: 0 auto;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.left,
.right {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}
.left {
  width: 50px;
  min-height: 50px;
}
.right {
  padding-left: 5%;
  width: 65%;
  * {
    vertical-align: top;
  }
}
