$base-size: 18px;
html { font-size: $base-size; }

$i: 7;
@for $j from 1 through 7 {
  h#{$j} {
    font-size: $base-size + ($i * 2);
  }
  $i: $i - 1;
}
body, body * {
  zoom: 1 ;
}
.footer {
  a {
    i {
      font-size: 30px;
    }
  }
}
#logo {
  margin: 50px 0;
}
.ie-header {
  max-height: 50px;
}
.container {
  margin: 0 0 50px;
}
.ie {
  margin: 10px 0;
  .grid-full {
    display: block;
    margin: 50px auto 0;
    padding: 0;
    .row {
      min-height: 100%;
      height: auto;
    }
    p {
      max-width: 70%;
      display: inline-block;
    }
    > div {
      min-height: 100px;
    }
    img {
      width: inherit;
      height: 100%;
      margin: 0 auto;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.left,
.right {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}
.left {
  width: 50px;
  min-height: 50px;
}
.right {
  padding-left: 5%;
  width: 65%;
  * {
    vertical-align: top;
  }
}
