---
layout: default.hbs
---

{{#each partials}}

  {{!-- Video --}}
  {{#is type "video"}}
    {{>video this }}
  {{/is}}
  
  {{!-- Quote --}}
  {{#is type "quote"}}
    {{> quote this }}
  {{/is}}

  {{!-- Image --}}
  {{#is type "image"}}
    {{> image this }}
  {{/is}}

  {{!-- Text --}}
  {{#is type "text"}}
    {{> text this }}
  {{/is}}
  
  {{!-- Image mosaic --}}
  {{#is type "mosaic"}}
    {{> mosaic this }}
  {{/is}}
  
  {{!-- Offers --}}
  {{#is type "offers"}}
    {{> offers this }}
  {{/is}}

  {{!-- Slider --}}
  {{#is type "slider"}}
    {{> slider this}}
  {{/is}}

  {{!-- List --}}
  {{#is type "list"}}
    {{> list this}}
  {{/is}}

  {{!-- List --}}
  {{#is type "image-list"}}
    {{> image-list this}}
  {{/is}}

  {{!-- Team --}}
  {{#is type "team"}}
    {{> team this}}
  {{/is}}

  {{!-- Side Image --}}
  {{#is type "side-image"}}
    {{> side-image this}}
  {{/is}}

{{/each}}

{{#if this.order}}
  <div class="row case-navigation">
    <div class="grid-full">
      <div class="row flex">
        <div class="previous">
          {{{caseNavigation this.order}}}
        </div>
        <div class="cases">
          <i class="ion-grid"></i>
          <a href="/case">Alla case</a>
        </div>
        <div class="next">
          {{{caseNavigation this.order "next"}}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class="row contact">
  <ul>
    <li class="project">
      <i class="ion-ios7-telephone"></i>
      Kostnadsfri rådgivning
    </li>
    <li class="career">
      <a href="/karriar">
        <i class="ion-code-working"></i>
        Jobba hos oss?
      </a>
    </li>
  </ul>
</div>