---
layout: default
---
<div class="coworker">
  {{>image
    type="image"
    start=true
    sub-title=job
    height="300px"
    title=name
    email=email
    phone=social-media.mobile
    background-image-url=top-image
    color=top-color
  }}

  {{> social-media this}}

  <div class="box partial boxes">
    <div class="grid-full">
      <div class="box boxes">
        {{#each texts.about}}
          <div class="box-position {{position}}">
            <h3>{{title}}</h3>
            <p>{{{content}}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>


  {{#if social-media.instagram}}
    <div class="partial instagram wow fadeIn">
      {{> instagram this}}
    </div>
  {{/if}}

  {{#if social-media.blog}}
    <div class="partial blog" data-blog-hide-on-empty="true">
      {{> blog this}}
    </div>
  {{/if}}

  {% body %}
</div>
