---
layout: default.hbs

instagram-count: 4
instagram-resolution: normal
github-count: 5
blog-count: 5
---

<div class="coworker">

  {{>image
    type="image"
    start=true
    sub-title=job
    height="300px"
    title=name
    email=email
    phone=social-media.mobile
    animate="true"
    background="fadeIn"
    background-image-url=top-image
  }}

  {{> social-media this}}

  <div class="row partial boxes">
    <div class="grid-full">
      <div class="row boxes inverted">
        {{#each texts.about}}
        <div class="box-position {{position}}">
          <h3>{{title}}</h3>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{#if social-media.instagram}}
    <div class="partial instagram wow fadeIn">
      {{> instagram this}}
    </div>
  {{/if}}

  {{#if social-media.blog}}
    <div class="partial blog">
      {{> blog this}}
    </div>
  {{/if}}
</div>
