---
title: Iteam
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} {{#if subtitle}} | {{ subtitle }} {{/if}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <script type="text/javascript" src="//use.typekit.net/fch1qdg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="//cdn.sublimevideo.net/js/fhc5sdx9.js"></script>

    <link rel="stylesheet"  href="/css/iteam.css" type="text/css" />
    <link rel="shortcut icon" href="/content/favicon.png" />
  </head>
  <body>
    {{> navbar }}
    {{> body}}
    {{> footer}}
    {{> easteregg }}
    <script type="text/javascript" src="/scripts/all.js"></script>
  </body>
</html>