---
title: Iteam
social:
  -
    url: https://github.com/iteam1337
    class: github
  -
    url: https://facebook.com/IteamSolutions
    class: facebook
  -
    url: http://twitter.com/iteam1337
    class: twitter
  -
    url: http://instagram.com/iteam1337
    class: instagram
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} {{#if subtitle}} | {{ subtitle }} {{/if}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <link href="//fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet" type="text/css">

    <link rel="stylesheet"  href="/css/iteam.css" type="text/css" />
    <link rel="shortcut icon" href="/content/favicon.png" />
    <!--[if lte IE 9 ]><link rel="stylesheet" href="/css/ie.css" type="text/css" /><script>if (window.location.pathname.match(/^\/ie(\/|$)/) === null) {window.location = '/ie';}</script><![endif]-->
  </head>
  <body class="
{{#if invert}}
  invert
{{/if}}

{{#if body-class}}
  {{body-class}}
{{/if}}

{{#if subtitle}}
  {{slugify subtitle}}
{{/if}}">
    {{> navbar }}

    <div class="container">
      {{> body}}
    </div>
    {{> footer}}
    {{> easteregg }}

    <script type="text/javascript" src="/scripts/all.js"></script>
    <script>
      new WOW().init();
    </script>

  </body>
</html>
