//------------------------------------------------------------
// Mixins
//
//------------------------------------------------------------
@mixin flex($wrap: wrap) {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    @include prefix('flex-direction', 'column');
  }
}

@function font-size-reduce($source, $multiply: 125%, $multiply-source: 100%) {
  @return ($source/$multiply-source) * $multiply
}

@mixin justify-content($justify: center) {
  @include prefix('justify-content', $justify);
}

@mixin bullets {
  @include border-radius(100%);
  @include scale(0.5);
  @include size(12px);
  @include transition(all, 300ms, ease-in-out);

  background: $color__accent;
  display: inline-block;
}

@mixin width($parts) {
  $size: (100%/$parts);
  max-width: $size;
  max-width: calc(#{$size});
  width: $size;
  width: calc(#{$size});
}

@mixin font-size($size, $vmax, $smaller, $max: $size) {
  font-size: $size;
  font-size: $vmax;
  line-height: font-size-reduce($size);
  line-height: font-size-reduce($vmax);
  letter-spacing: 0.025em;
  word-spacing: -0.05em;
  word-wrap: break-word;
  white-space: pre-line;

  @include devices(mobile, mobile-landscape, tablet) {
    font-size: $smaller;
    line-height: font-size-reduce($smaller);
  }
}

$max-z-index-64-bit: 2147483647;
$max-z-index-32-bit: 16777271;
