@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin mobile () {
  @media only screen and (max-width: $mobile-portrait) {
    @content;
  }
}

@mixin mobile-landscape () {
  @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape) {
    @content;
  }
}

@mixin tablet () {
  @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet-landscape) {
    @content;
  }
}

@mixin tablet-landscape () {
  @media only screen and (min-width: $tablet-landscape) and (max-width: $desktop) {
    @content;
  }
}

@mixin devices ($devices...) {
  @each $device in $devices {
    @if ($device == 'desktop') {
      @include desktop {
        @content;
      }
    }

    @if ($device == 'tablet-landscape') {
      @include tablet-landscape {
        @content;
      }
    }

    @if ($device == 'tablet') {
      @include tablet {
        @content;
      }
    }

    @if ($device == 'mobile-landscape') {
      @include mobile-landscape {
        @content;
      }
    }

    @if ($device == 'mobile') {
      @include mobile {
        @content;
      }
    }
  }
}


@function font-size-reduce($source, $multiply: 125%, $multiply-source: 100%) {
  @return ($source/$multiply-source) * $multiply
}

@mixin bullets {
  border-radius: 100%;
  transform: scale(0.5);
  height: 12px;
  width: 12px;
  transition: all, 300ms, ease-in-out;

  background: $color__accent;
  display: inline-block;
}

@mixin width($parts) {
  $size: (100%/$parts);
  max-width: $size;
  max-width: calc(#{$size});
  width: $size;
  width: calc(#{$size});
}

@mixin font-size($size, $vmax, $smaller, $max: $size) {
  font-size: $size;
  font-size: $vmax;
  line-height: font-size-reduce($size);
  line-height: font-size-reduce($vmax);
  letter-spacing: 0.025em;
  word-spacing: -0.05em;
  word-wrap: break-word;
  white-space: pre-line;

  @include devices(mobile, mobile-landscape, tablet) {
    font-size: $smaller;
    line-height: font-size-reduce($smaller);
  }
}
