//------------------------------------------------------------
// Mixins
//
//------------------------------------------------------------

@mixin flex($wrap: wrap) {
  display: flex;
  flex-wrap: wrap;

  @include mobile() {
    @include prefix('flex-direction', 'column');
  }
}

@mixin justify-content($justify: center) {
  @include prefix('justify-content', $justify);
}

@mixin bullets() {
  @include border-radius(100%);
  @include scale(0.5);
  @include size(12px);
  @include transition(all, 300ms, ease-in-out);

  background: $color__accent;
  display: inline-block;
}

$max-z-index-64-bit: 2147483647;
$max-z-index-32-bit: 16777271;
