---
layout: coworker.hbs
invert: true

name: Mikael Wallin
email: mikael.wallin@iteam.se
job: Webbutvecklare

top-image: /content/images/coworker-top/mwn.jpg

texts:
  about:
    -
      title: Varför jobbar du med teknik?
      position: left
      content: "<p>Har alltid älskat vetenskap och teknikutveckling. Tycker det är väldigt fascinerande vad man kan åstadkomma med en dator och lite kod. Använd på rätt sätt är teknik det som till stor del driver människan framåt. Man lär sig något nytt varje dag i det här arbetet, det blir aldrig tråkigt. Det passar mig perfekt för jag behöver den utmaningen.</p><p>Förutom programmering är psykologi någonting som ligger mig varmt om hjärtat. Jag brinner för lösningar som hjälper människor i deras vardag och hoppas kunna kombinera dessa två intresseområden så mycket som möjligt i mitt arbete.</p>"
    -
      title: Specialistkompetens
      position: right
      content: Språk i C-familjen, särskilt Javascript, samt PHP och C#/C++. Linux-frälst.
    -
      title: Bakgrund
      position: right
      content: "Halkade in på IT och programmering av en slump, upptäckte att jag gillade det. Kodade min första webbsida 1997. Läste därefter en KY-utbildning inom system- och webbutveckling och har jobbat med detta till och från ända sedan dess. Tycker att hela ”Javascript-revolutionen” med Node.js på servern och AngularJS och andra ramverk på klienten är fantastiskt kul. Kommer från Windows-världen men har gått över mer och mer till Linux och Open Source. Har de senaste åren jobbat och utbildat mig inom andra områden som jag också tycker är intressanta, som t ex psykologi, mat & dryck samt ekonomi men är nu tillbaka i branschen."
    -
      title: Superkraft
      position: right
      content: Är så vitt jag vet den enda trumspelande, MC-åkande, psykologiutbildade webbutvecklaren med sommelierexamen.

social-media:
  linkedin: in/wallindev
  twitter: wallindev
  github: wallindev
---
