---
subtitle: Join us!
menu-order: 4
menu-title: Career
body-class:
page-color: green
layout: default

top-content:
  type: hero
  extra-classes: padding-top
  color: white
  background-color: green
  background-image: "/content/images/section-top/iteam-people.jpg"
  background-position: top
  mdtext: src/pages/career/main-block

partials:
  -
    type: instagram
    social-media:
      instagram: iteam1337
    instagram-count: 4
    instagram-resolution: normal
  -
    type: text
    background: blue
    extra-classes: contain-width
    mdtext: src/pages/career/blocks
---

{{>hero top-content}}

<div class="box partial color-white background-black openings">
  <div class="grid-full row">
      <h3 class="col-xs" style="padding-left:0">Current openings</h3>
    <div class="openings__list row">
      <div class="openings__list__item col-xs-12 col-sm">
        <h4>Senior Developer / Tech Lead</h4>
        <p>We love to be surprised and are always looking for new talent! <a href="senior-developer/">View opening</a></p>
      </div>
      <div class="openings__list__item col-xs-12 col-sm">
        <h4>Project/Account Manager</h4>
        <p>We love to be surprised and are always looking for new talent! <a href="project-manager/">View opening</a></p>
      </div>
      <div class="openings__list__item col-xs-12 col-sm">
        <h4>Spontaneous Application</h4>
        <p>We love to be surprised and are always looking for new talent! <a href="mailto:joinus@iteam.se?subject=I want to work at Iteam!">Apply</a></p>
      </div>
    </div>
  </div>
</div>


{{#each partials}}
  {{#if this.type}}
    {{{dynamicPartial partial=this}}}
  {{/if}}
{{/each}}
